<p>
  ((i18n.common.regards))<br />((i18n.common.team))
  <br />
</p>
<div class="pt2 pb1 center" style="text-align: center">  
  <img style="margin: auto"  alt="Beleza é ser feliz"  border="0" width="150" alt="{{_accountInfo.TradingName}}" 
  src="https://tdc0tj.vteximg.com.br/arquivos/belezalogo.png">
</div>


