[class*='childrenContainer--menuMainMobile'] [class*='submenuContainerVertical'] > h3 {
  font-size: 1.5rem;
  font-weight: 600;

  color: #fff;
}

[class*='vtex-mega-menu-2-x-departmentsContainer'] > h3 {
  display: none;
}
