.megaMenuBannerImg {
  position: absolute;
  
  bottom: 0;
  left: 0;

  height: 4.25rem;
  width: 100vw;

  filter: brightness(0.7);
  object-fit: cover;
  transform: translateY(100%);
  z-index: -1;
}