@import "variables";

@mixin spinAnimation {
  @keyframes spinAnimation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@mixin commonButton {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 15px 25px;
  transition: $transition-200;
}

@mixin focus-reset {
  transition: border 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), box-shadow 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), border-color 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  box-shadow: 1px 1px 1px rgba(150, 195, 242, 0), -1px 1px 1px rgba(150, 195, 242, 0), 1px -1px 1px rgba(150, 195, 242, 0), -1px -1px 1px rgba(150, 195, 242, 0);

  &:focus {
    border-color: #7eabda !important;
    outline: 0 !important;
    box-shadow: 2px 2px 0 #96c3f2, -2px 2px 0 #96c3f2, 2px -2px 0 #96c3f2, -2px -2px 0 #96c3f2 !important;
  }
}

@mixin btn-reset {
  border: none;
  border-radius: 0;
  text-shadow: none;
  color: $color-base-white;
  width: 100%;
  padding: 0 15px;

  @include focus-reset;
}

@mixin btn-default {
  height: 42px;
  line-height: 42px;
  border: none;
  background: #000;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
}

@mixin btn-large {
  font-size: 16px;
  line-height: 46px;
  height: 46px;
}

@mixin btn-small {
  font-size: 14px;
  line-height: 34px;
  height: 34px;
}

@mixin input-reset {
  font-size: 14px;
  padding: 0 15px;
  line-height: 36px;
  height: 36px;
  text-shadow: none;
  border-radius: 0;
  color: $color-base-dark;
  border: 1px solid $color-base-dark;

  @include focus-reset;
}

@mixin btn-black {
  background-image: none;
  background-color: $color-base-dark;
  transition: $transition-100;

  &:hover {
    background-color: darken($color-base-dark, 10%);
  }
}

@mixin btn-orange {
  background-image: none;
  background-color: $orange-accent;
  transition: $transition-100;
  box-shadow: 0 3px 6px rgba($orange-accent, 0.16), 0 3px 6px rgba($orange-accent, 0.23);

  &:hover {
    background-color: darken($orange-accent, 10%);
    box-shadow: 0 10px 20px rgba($orange-accent, 0.19), 0 6px 6px rgba($orange-accent, 0.23);
  }
}

@mixin btn-green {
  background-image: none;
  background-color: $primary-color;
  transition: $transition-100;
  box-shadow: 0 3px 6px rgba($primary-color, 0.16), 0 3px 6px rgba($primary-color, 0.23);

  &:hover {
    background-color: darken($primary-color, 10%);
    box-shadow: 0 10px 20px rgba($primary-color, 0.19), 0 6px 6px rgba($primary-color, 0.23);
  }
}

@mixin input-style {
  position: relative !important;
  width: 100%;
  font-size: 14px;
  padding: 0 15px;
  line-height: 36px;
  height: 36px;
  border-radius: 0;
  text-shadow: none;
  color: $color-base-dark;
  border: 1px solid $color-base-dark;
  order: 2;
  @include focus-reset;

  @media (max-width: 490px) {
    width: 100% !important;
  }
}

@mixin btn-edit {
  right: 0;
  top: 0;
  height: 30px;
  padding: 0;
  font-size: 0;
  border-radius: $border-medium;
  background: $color-base-white;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: none;
  border: 1px solid $color-gray-dark;
  box-shadow: $shadow-3;

  &:after {
    content: "Editar";
    font-size: 14px;
    color: $color-base-dark;
  }

  &:before {
    content: "";
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='#{$color-base-dark}' height='24'%3E%3Cpath d='M3 17.3V21h3.8l11-11-3.7-3.8L3 17.2zM20.7 7c.4-.4.4-1 0-1.4l-2.3-2.3a1 1 0 0 0-1.4 0L15 5 19 9 20.7 7z'/%3E%3C/svg%3E");
    margin-right: 5px;
  }
}

@mixin input-checkbox {
  &[type="checkbox"] {
    width: 15px;
    height: 15px;
    position: relative;
    margin: 2px;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 22px;
      height: 22px;
      margin: -3px;
      border-radius: 0;
      background-color: #fff;
      border: 1px solid $color-gray-dark;
      transition: $transition-100;
      cursor: pointer;
      border-radius: $border-medium;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 19px;
      height: 19px;
      background-size: 20px;
      margin: -1px;
      background: transparent;
      z-index: 1;
      border-radius: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='#{$color-base-dark}' d='M18.6 5.1l-9.5 9.4-3.7-3.7L3.2 13l5.9 5.9L20.8 7.3z'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      transform: scale(0.5);
      opacity: 0;
      transition: $transition-100;
      cursor: pointer;
    }

    &:checked {
      &:after {
        background-color: $color-base-dark;
        border: 1px solid $color-base-dark;
      }

      &:before {
        transform: scale(1);
        opacity: 1;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='#{$color-base-white}' d='M18.6 5.1l-9.5 9.4-3.7-3.7L3.2 13l5.9 5.9L20.8 7.3z'/%3E%3C/svg%3E");
      }
    }
  }
}

@mixin primary-btn {
  border: none;
  text-shadow: none;
  width: 100%;
  padding: 0 15px;
  @include focus-reset;

  background-image: none;
  background-color: $primary-color;
  transition: $transition-100;
  border-radius: $border-medium;
  color: $color-base-white;

  &:hover {
    background-color: $primary-color-dark;
  }
}

@mixin primary-btn-outline {
  border: 2px solid $primary-color;
  text-shadow: none;
  width: 100%;
  padding: 0 15px;
  @include focus-reset;

  background-image: none;
  background-color: $color-base-white;
  transition: $transition-100;
  color: $primary-color;
  border-radius: $border-medium;

  &:hover {
    border: 2px solid $primary-color-dark;
    color: $primary-color-dark;
  }
}

@mixin secondary-btn {
  border: none;
  text-shadow: none;
  width: 100%;
  padding: 0 15px;
  @include focus-reset;

  background-image: none;
  background-color: $secondary-color;
  transition: $transition-100;
  border-radius: $border-medium;
  color: $color-base-white;

  &:hover {
    background-color: $secondary-color-dark;
  }
}

@mixin secondary-btn-outline {
  border: 2px solid $secondary-color;
  text-shadow: none;
  width: 100%;
  padding: 0 15px;
  @include focus-reset;

  background-image: none;
  background-color: $color-base-white;
  transition: $transition-100;
  color: $secondary-color;
  border-radius: $border-medium;

  &:hover {
    border: 2px solid $secondary-color-dark;
    color: $secondary-color-dark;
  }
}

@mixin tertiary-btn {
  border: none;
  text-shadow: none;
  width: 100%;
  padding: 0 15px;
  @include focus-reset;

  background-image: none;
  background-color: $tertiary-color;
  transition: $transition-100;
  border-radius: $border-medium;
  color: $color-base-white;

  &:hover {
    background-color: $tertiary-color-dark;
  }
}

@mixin tertiary-btn-outline {
  border: 2px solid $tertiary-color;
  text-shadow: none;
  width: 100%;
  padding: 0 15px;
  @include focus-reset;

  background-image: none;
  background-color: $color-base-white;
  transition: $transition-100;
  color: $tertiary-color;
  border-radius: $border-medium;

  &:hover {
    border: 2px solid $tertiary-color-dark;
    color: $color-base-white;
  }
}