// ====== Pages Default Theme ======
//settings
$assets-url: $assetUrl;
//fonts
$base-font-family: unquote($fontName);
//transitions
$transition-100: all 100ms cubic-bezier(0.42, 0.15, 0.06, 0.66);
$transition-200: all 200ms cubic-bezier(0.42, 0.15, 0.06, 0.66);
$transition-300: all 300ms cubic-bezier(0.42, 0.15, 0.06, 0.66);
$transition-400: all 400ms cubic-bezier(0.42, 0.15, 0.06, 0.66);
$transition-400: all 500ms cubic-bezier(0.42, 0.15, 0.06, 0.66);

//shadows
$shadow-1: 0 5px 10px rgba(0, 0, 0, .03),
0 2px 4px rgba(0, 0, 0, .04);
$shadow-2: 0 6px 12px rgba(0, 0, 0, .04),
0 3px 6px rgba(0, 0, 0, .05);
$shadow-3: 0 7px 14px rgba(0, 0, 0, .06),
0 4px 7px rgba(0, 0, 0, .06);
$shadow-4: 0 8px 16px rgba(0, 0, 0, .08),
0 5px 10px rgba(0, 0, 0, .08);
$shadow-5: 0 9px 18px rgba(0, 0, 0, .1),
0 6px 12px rgba(0, 0, 0, .1);

//body
$body-bg: $bodyBg;

//header
$header-bg: $headerBg;

//footer
$footer-bg: $footerBg;

//base colors
$color-base-dark: $colorBaseDark;
$color-base-white: $colorBaseWhite;

//shades
$color-gray-dark: $colorGrayDark;
$color-gray-medium: $colorGrayMedium;
$color-gray-light: $colorGrayLight;
$color-gray-lighter: $colorGrayLighter;

//accent colors 
$blue-accent: #1770ff;
$red-accent: #e22b2b;
$yellow-accent: #ffca1c;
$orange-accent: #ff9100;
$green-accent: #50c943;

//primary colors
$primary-color: $colorPrimiary;
$primary-color-light: $colorPrimiaryLight;
$primary-color-dark: $colorPrimiaryDark;

//secondary colors
$secondary-color: $colorSecondary;
$secondary-color-light: $colorSecondaryLight;
$secondary-color-dark: $colorSecondaryDark;

//tertiary colors
$tertiary-color: $colorTertiary;
$tertiary-color-light: $colorTertiaryLight;
$tertiary-color-dark: $colorTertiaryDark;

//borders
$border-small:  unquote($borderRadiusSmall+"px");
$border-medium:  unquote($borderRadiusMedium+"px");
$border-bigger:  unquote($borderRadiusBigger+"px");