@import url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css');
@import url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css');

.topBannerContainer {
  width: 100%;
  height: auto;
  background-color: #fff;
  max-width: 1220px;
  margin: 0 auto 15px auto;
}

.slideContainer {
  position: relative;
  width: 100%;
  height: auto;
}

/* arrows */
.prevSlickArrow,
.nextSlickArrow {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 3px;
  z-index: 1;
}

.prevSlickArrow {
  left: 3%;
}

.nextSlickArrow {
  right: 3%;
}

.prevSlickArrow::before,
.nextSlickArrow::before {
  display: block;
  content: '';
  width: 16px;
  height: 20px;
  transition: .5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='17' viewBox='0 0 22 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.4891 16.6133C13.2004 16.6133 12.956 16.5023 12.7561 16.2801C12.5562 16.058 12.4563 15.8137 12.4563 15.5471C12.4563 15.325 12.5229 15.1473 12.6562 15.014L18.0205 9.68301L1.1945 9.68301C0.950158 9.68301 0.750245 9.60527 0.594757 9.44978C0.439268 9.27208 0.361525 9.03885 0.361525 8.75008C0.361525 8.48353 0.439269 8.2503 0.594757 8.05039C0.750246 7.85047 0.950159 7.75052 1.1945 7.75052L18.0205 7.75052L12.6562 2.45282C12.5229 2.29733 12.4563 2.11964 12.4563 1.91972C12.4563 1.63095 12.5562 1.38662 12.7561 1.18671C12.9783 0.964582 13.2226 0.853518 13.4892 0.853518C13.6891 0.853518 13.8779 0.931263 14.0556 1.08675L21.0192 8.01707C21.2635 8.28362 21.3857 8.52796 21.3857 8.75009C21.3857 8.95 21.2635 9.18323 21.0192 9.44978L14.0556 16.3801C13.9001 16.5356 13.7113 16.6133 13.4891 16.6133Z' fill='white'/%3E%3C/svg%3E");
}

.prevSlickArrow::before {
  transform: rotate(180deg);
}

@media (min-width: 768px) {

  .prevSlickArrow,
  .nextSlickArrow {
    display: flex;
    width: 30px;
    height: 30px;
  }


  .prevSlickArrow::before,
  .nextSlickArrow::before {
    width: 22px;
    height: 22px;
  }
}

@media (min-width: 1025px) {

  .prevSlickArrow,
  .nextSlickArrow {
    display: flex;
    width: 36px;
    height: 36px;
  }

  .prevSlickArrow {
    left: 2%;
  }

  .nextSlickArrow {
    right: 2%;
  }

  .prevSlickArrow::before,
  .nextSlickArrow::before {
    height: 20px;
  }
}

@media (min-width: 1400px) {

  .prevSlickArrow,
  .nextSlickArrow {
    display: flex;
    width: 44px;
    height: 44px;
  }



  .prevSlickArrow::before,
  .nextSlickArrow::before {
    height: 24px;
  }
}


.topBannerContainer--topBannerCustom :global(.slick-dots) {
  position: relative;
  bottom: -5px;
}


.topBannerContainer--topBannerCustom :global(.slick-dots li button):before {
  font-size: 8px;
}

.topBannerContainer--topBannerCustom :global(.slick-dots .slick-active button):before {
  content: "";
  border: 2px white solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: black;
  top: 2px;
}

.topBannerContainer--topBannerCustom :global(.tdc0tj-store-theme-8-x-nextSlickArrow--topBannerCustom),
.topBannerContainer--topBannerCustom :global(.tdc0tj-store-theme-8-x-prevSlickArrow--topBannerCustom) {
  transition: .5s;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: transparent;
  border: 2px solid #000;
  border-radius: 3px;
  filter: brightness(0) invert(1);
}

.topBannerContainer--topBannerCustom :global(.tdc0tj-store-theme-8-x-nextSlickArrow--topBannerCustom):hover,
.topBannerContainer--topBannerCustom :global(.tdc0tj-store-theme-8-x-prevSlickArrow--topBannerCustom):hover {}
