.titleSearchStore {
    font-size: 34px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}

.formSearchStore fieldset {
    padding: 0;
    height: 60px;
    border: none;
    display: flex;
    margin: 0 auto;
    max-width: 350px;
    text-align: center;
    border-radius: 1px;
    border: 1px solid #D9D9D9;
}

.formSearchStore fieldset input[type="text"] {
    width: 75%;
    height: 100%;
    padding: 0;
    border: none;
    display: block;
    text-indent: 60px;
    background-position: 20px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='30' viewBox='0 0 24 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9804 30C11.905 30.0001 11.8305 29.9836 11.762 29.9518C11.6936 29.9201 11.6328 29.8737 11.584 29.816L2.47613 19.0763C1.73884 18.2393 1.15687 17.2764 0.757804 16.2334C-0.620399 12.5744 -0.0993517 8.43836 2.15128 5.16601C4.41237 1.88398 7.99538 0 11.9804 0C15.9655 0 19.5493 1.88398 21.8104 5.16601C24.0618 8.43594 24.5813 12.5736 23.2022 16.2342C22.8412 17.2125 22.2639 18.1674 21.4847 19.0739L12.3825 29.8152C12.3331 29.8737 12.2715 29.9206 12.202 29.9526C12.1325 29.9845 12.0569 30.0007 11.9804 30ZM11.9804 1.04935C8.34194 1.04935 5.07092 2.76866 3.00764 5.76656C0.944351 8.76446 0.476374 12.5276 1.73477 15.8669C2.0564 16.7314 2.56941 17.5822 3.26735 18.395L11.9804 28.6689L20.6951 18.395C21.3939 17.5822 21.9085 16.733 22.2269 15.8701C23.4853 12.5292 23.0093 8.75155 20.9532 5.76414C18.8972 2.77673 15.6197 1.04935 11.9804 1.04935Z' fill='%230E0E0E'/%3E%3Cpath d='M11.9809 17.5159C10.8911 17.5161 9.82584 17.1919 8.91969 16.5842C8.01354 15.9766 7.30723 15.1128 6.8901 14.1022C6.47297 13.0916 6.36375 11.9795 6.57624 10.9066C6.78874 9.83363 7.31342 8.84805 8.08391 8.07446C8.85441 7.30088 9.83613 6.77403 10.9049 6.56056C11.9737 6.34708 13.0815 6.45657 14.0883 6.87516C15.0951 7.29375 15.9556 8.00266 16.5611 8.91222C17.1665 9.82178 17.4897 10.8911 17.4897 11.9851C17.4882 13.4514 16.9073 14.8572 15.8746 15.8941C14.8418 16.9309 13.4415 17.5142 11.9809 17.5159ZM11.9809 7.5068C11.0974 7.50664 10.2337 7.7695 9.49901 8.26214C8.76434 8.75478 8.19171 9.45507 7.85354 10.2744C7.51536 11.0938 7.42684 11.9954 7.59916 12.8653C7.77149 13.7352 8.19691 14.5342 8.82164 15.1614C9.44637 15.7885 10.2423 16.2156 11.1089 16.3885C11.9754 16.5615 12.8736 16.4727 13.6898 16.1332C14.506 15.7937 15.2036 15.2189 15.6943 14.4814C16.1851 13.7439 16.4469 12.8768 16.4468 11.9899C16.4455 10.8013 15.9746 9.66176 15.1373 8.82129C14.3001 7.98082 13.1649 7.50808 11.9809 7.5068Z' fill='%230E0E0E'/%3E%3C/svg%3E");
}


.formSearchStore fieldset input[type="submit"] {
    width: 25%;
    padding: 0;
    color: #fff;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: #9F7DAB;
}

.listSearchStores {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 80px 0 0 0;

}

.listSearchStores li {
    width: calc(100% / 4);
    margin-bottom: 80px;
}


.listSearchStores li article {
    width: 100%;
    max-width: 250px;   
}

.listSearchStores li figure {
    margin: 0;
    border-radius: 2px;
    position: relative;
    border: 2px solid deeppink;
}

.listSearchStores li figure:hover::before,
.listSearchStores li figure:hover:after {
    opacity: 1;
}

.listSearchStores li figure:after {
    content: 'Ver no Mapa';
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 150px;
    height: 45px;
    color: #fff;
    font-size: 27px;
    padding: 0 10px;
    line-height: 43px;
    border-radius: 15px;
    margin-left: -85px;
    position: absolute;
    margin-top: -22.5px;
    text-align: center;
    border: 2px solid #fff;
}

.listSearchStores li figure:before {
    content: '';
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #ff149359;
    transition: opacity 300ms;
}

.listSearchStores li figure img {
    width: 100%;
    height: 100%;
    display: block;
}

.listSearchStores li p {
    margin: 10px 0;
}

.listSearchStores li address {
    font-style: normal;
    margin-bottom: 10px;
}

.listSearchStores li span {
    color: gray;
    font-size: 14px;
}

@media (max-width: 960px) {
    .containerSearchStores {
        padding: 0 1rem;
    }

    .listSearchStores {
        margin: 40px 0 0 0; 
        justify-content: space-between;
    }

    .listSearchStores li {
        margin-bottom: 40px;
        width: calc(100% / 2 - 0.5rem);
    }
}