.listPrice {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #A8A8A8;
  margin-bottom: 0px !important;
}

.sellingPrice {
  font-family: 'Omnes';
  color: #3f3f40;
  font-size: 1.25rem;
}

.sellingPriceValue {
  font-size: 2.25rem;
  font-weight: 700;
}

.installments {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #868686;
  margin-top: -5px;
}

.savings {
  font-weight: 500;
  color: #79b03a;
}

.sellingPriceValue--summary {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 20px;
  color: #0E0E0E;
}

.savings--summaryPercentage,
.savings--product-price-savings {
  background: #f58472;
  border-radius: unset;
  align-items: center;
  display: flex;
  margin-left: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.675rem;
  font-weight: 600;
  vertical-align: baseline;
  justify-content: center;
  color: #ffffff;
}

.savingsPercentage--product-price-savings {
  padding: 0 0.2rem;
  z-index: 2;
}

:global(.vtex-product-summary-2-x-containerNormal) .savings--summaryPercentage,
:global(.vtex-product-summary-2-x-containerNormal) .savings--product-price-savings {
  border-radius: unset;
  align-items: center;
  display: flex;
  font-weight: 600;
  vertical-align: baseline;
  background: #9F7DAB;
  border-radius: 5px;
  width: 45px !important;
  height: 45px !important;
  position: absolute;
  font-size: 0;
  padding: 0;
  z-index: 2;
}

:global(.vtex-product-summary-2-x-containerNormal) .savings--summaryPercentage::before,
:global(.vtex-product-summary-2-x-containerNormal) .savings--product-price-savings::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-left: 8px solid transparent;
  border-right: 32px solid #9F7DAB;
  position: absolute;
  display: block;
  top: 24px;
  border-radius: 4px;
  transform: rotate(45deg);
  left: 0px;
  z-index: -1;
}


:global(.vtex-product-summary-2-x-containerNormal) .savings--summaryPercentage,
:global(.vtex-product-summary-2-x-containerNormal) .savingsPercentage--product-price-savings {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  color: #fff;
}


:global(.vtex-product-summary-2-x-containerNormal) .savingsPercentage--summaryPercentage::after,
:global(.vtex-product-summary-2-x-containerNormal) .savingsPercentage--product-price-savings::after {
  content: "OFF";
  display: block;
}


.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

.installments--summary {
  font-family: 'Omnes';
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

/* MEDIAS QUERIES */
@media (min-width: 769px) {
  .savings--product-price-savings {
    margin-left: 0.8rem;
    font-size: 0.875rem;
  }
}
