.menuLinks a, .menuLink {
  font-family: 'Omnes';
  font-weight: 500 !important;
  font-size: 16px;
}

.boxContainerFooter button {
  font-family: 'Omnes';
  font-size: 16px;
  color: #612B75;
  text-decoration: underline;
  text-transform: capitalize;
}

.boxContainerFooter button:hover {
  background: transparent;
}
