.productHighlightWrapper--collection {
  position: absolute;
  left: 5px;
  width: 200px;
  pointer-events: none;
}

.productHighlightText {
  background: #9F7DAB;
  padding: 5px 10px;
  color: #fff;
}
