.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRowContent--myAccount :global(.vtex-pageHeader__title) {
  font-weight: 400;
}

.flexRowContent--myAccount :global(.vtex-profile-form-3-x-autocompleteMenu) {
  height: auto
}

.flexRowContent--myAccount :global(.vtex-profile-form-3-x-autocompleteMenuItem) {
  display: none;
}

.flexRowContent--myAccount :global(.vtex-profile-form-3-x-autocompleteMenuItem):last-child {
  display: block;
}

.flexCol--banner-collection {
  margin-bottom: 3.2rem;
}

.flexRow--shelfSearchWishlist {
  position: absolute;
  right: .5rem;
  z-index: 2;
  top: -.3rem;
}

.flexRowContent--shelfSearchWishlist :global(.vtex-button__label) {
  padding: 0;
}

.flexRow--listShelfSearchWishlist :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  position: absolute;
  z-index: 2;
  right: 0;
  top: -.8rem;
}

@media (min-width: 1180px) {
  .flexRow :global(.vtex-store-components-3-x-container) {
    max-width: 1220px !important;
  }
}
