.container--deals {
  color: #0E0E0E;
  text-align: center;
  justify-content: center;
}

.container--deals .paragraph {
  margin: 0;
  font-weight: 300;
}

.container--deals-title .paragraph {
  font-weight: 500;
  margin: 0;
}

.link--deals-title,
.link--deals,
.link--deals-title-mobile,
.link--deals-mobile {
  text-decoration: none;
  color: #111;
}



.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

.container--deals-mobile .wrapper--deals-mobile .paragraph--deals-mobile {
  margin-top: 0;
}

.container--deals-mobile {
  justify-content: center;
  margin: 0;
}

.container--deals-title-mobile {
  justify-content: center;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.paragraph--title {
  font-weight: 500;
  color: #000000;
}

@media only screen and (max-width: 960px) {
  .container--deals-title .paragraph {
    font-size: 14px;
  }

  .container--deals .paragraph {
    font-size: 13px;
  }
}

