.wishlistIconContainer :global(.vtex-button) {
  padding: 0;
  margin: 0;
  outline: none;
  background: none;
}

.wishlistIconContainer :global(.vtex-button):hover {
  outline: none;
  background: none;
}

.wishlistIconContainer :global(.vtex-button__label) {
  padding: 0 !important;
  margin: 0;
}

.wishlistIcon {
  width: 18px;
  height: 20px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.55855 14C7.51499 14.0001 7.47249 13.9857 7.43706 13.9588C7.23108 13.8048 2.37532 10.1239 0.596932 7.0402L0.590041 7.02788C0.0440859 6.06375 -0.131693 4.91357 0.0991183 3.8156C0.329929 2.71762 0.949642 1.756 1.82988 1.12992C2.71012 0.503837 3.78343 0.261287 4.82748 0.452508C5.87152 0.64373 6.80629 1.25407 7.43815 2.1571L7.56834 2.3427L7.69816 2.1571C8.32999 1.25381 9.26488 0.643265 10.3091 0.451977C11.3533 0.26069 12.4268 0.503323 13.3072 1.1296C14.1875 1.75588 14.8072 2.71779 15.0378 3.81601C15.2684 4.91423 15.0923 6.06456 14.5459 7.02865L14.5394 7.0402C12.7581 10.1312 7.90596 13.804 7.69961 13.9588C7.66421 13.9858 7.6217 14.0002 7.57813 14H7.55855ZM0.955583 6.80338C0.958122 6.80839 0.961023 6.81339 0.963924 6.8184C2.47577 9.43034 6.32811 12.5417 7.4726 13.4332L7.56834 13.5075L7.66408 13.4332C8.80857 12.5417 12.6609 9.43034 14.1735 6.81955L14.1807 6.80646C14.4337 6.35786 14.5998 5.86021 14.6695 5.34262C14.7392 4.82503 14.711 4.29788 14.5866 3.792C14.4621 3.28612 14.244 2.81165 13.9448 2.39634C13.6457 1.98103 13.2716 1.63321 12.8444 1.37322C12.4172 1.11323 11.9455 0.946291 11.4568 0.882156C10.9681 0.818021 10.4723 0.857981 9.99834 0.999698C9.52438 1.14142 9.08178 1.38205 8.69642 1.70752C8.31107 2.033 7.99068 2.43679 7.75401 2.89528C7.73594 2.93074 7.70918 2.96036 7.67656 2.981C7.64394 3.00165 7.60667 3.01254 7.5687 3.01254C7.53073 3.01254 7.49346 3.00165 7.46084 2.981C7.42822 2.96036 7.40146 2.93074 7.38339 2.89528C7.14782 2.43492 6.82801 2.02917 6.44273 1.70186C6.05746 1.37454 5.61449 1.13225 5.13982 0.989214C4.66516 0.846175 4.16836 0.80527 3.67861 0.868899C3.18885 0.932528 2.716 1.09941 2.28781 1.35975C1.85962 1.62008 1.48473 1.96863 1.18514 2.38492C0.885549 2.80122 0.667297 3.27687 0.543196 3.78396C0.419096 4.29105 0.391649 4.81935 0.462465 5.33785C0.533282 5.85636 0.700935 6.35462 0.955583 6.80338Z' fill='%230E0E0E'/%3E%3C/svg%3E");
}

.wishlistIconContainer :global(.vtex-button):hover .wishlistIcon,
.fill {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5603 13.6095C7.51673 13.6097 7.47422 13.5953 7.43878 13.5683C7.23274 13.4143 2.37554 9.73384 0.59662 6.65053L0.589728 6.63821C0.0436107 5.6742 -0.13222 4.52415 0.0986594 3.4263C0.329539 2.32844 0.949435 1.36692 1.82994 0.740917C2.71044 0.114908 3.78407 -0.127615 4.82842 0.0635851C5.87278 0.254785 6.80783 0.865056 7.43987 1.76798L7.5701 1.95356L7.69996 1.76798C8.33198 0.864796 9.26714 0.25432 10.3117 0.0630541C11.3562 -0.128212 12.43 0.114394 13.3106 0.740601C14.1912 1.36681 14.8111 2.32861 15.0418 3.4267C15.2724 4.5248 15.0963 5.675 14.5497 6.63898L14.5432 6.65053C12.7614 9.74116 7.90781 13.4136 7.70141 13.5683C7.666 13.5953 7.62347 13.6097 7.57989 13.6095H7.5603Z' fill='%23C62761'/%3E%3C/svg%3E%0A");
}
