.BrandSearchBarContainer {
  display: flex;

  height: 2rem;
  width: 100%;

  border-bottom: 1px solid black;
  gap: 0.5rem;
}

.BrandSearchBarContainer input {
  width: 100%;

  border: none;

  background-color: transparent;

  outline: none;
}

.BrandSearchBarContainer button {
  height: fit-content;
  width: fit-content;

  border: none;

  background-color: transparent;

  cursor: pointer;
}

.BrandSearchBarContainer svg {
  height: 25px;
  width: 25px;
}
