/* HOME */
.container--shelfDescription {
  padding-left: .5rem;
  width: 100%;
  justify-content: right;
}

.headingLevel6--shelfDescription {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Omnes';
  letter-spacing: 0.09em;
  color: #0E0E0E;
  margin: -1.5rem 0 0;
  display: none;
}

.container--shelfTitle {
  color: #727273;
  justify-content: left;
  text-align: left;
  margin: 0;
  width: 100%;
}

.headingLevel2--shelfTitle {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: #000;
}

.wrapper--shelfTitle {
  display: block;
  text-align: center;
  width: 100%;
}

.wrapper--exploreBrandsTitle {
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  display: block;
  text-align: center;
  width: 100%;
}

@media(max-width: 2560px) {
  .container--shelfDescription {
    align-items: center;
  }

  .headingLevel6--shelfDescription {
    margin: 0;
  }
}

@media(max-width: 768px) {
  .container--shelfDescription {
    justify-content: left;
    padding-left: 0;
    margin-bottom: 40px;
  }

  .headingLevel2--shelfTitle {
    text-align: left;
    font-size: 26px;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    margin-top: 50px;
  }
}
