/* HOME */
.flexColChild--banner-collection {
  display: flex;
  justify-content: center;
  padding: 0;
}

.flexRow--banners-collection-container {
  display: flex;
  justify-content: center;
  max-width: 1220px;
  margin: 0 auto;
}

.flexRowContent--banners-collection-container {
  justify-content: center;
}

.flexRowContent--banners-collection-container .stretchChildrenWidth {
  width: 100% !important;
}

.flexRow--newsContainer {
  padding: 0 0.5rem;
  margin-top: 40px;
}

.flexColChild--productRating :global(.vtex-reviews-and-ratings-2-x-star--filled),
.flexColChild--productRating :global(.vtex-reviews-and-ratings-2-x-star--empty) {
  color: #ffb100;
}

/* deals */

.flexRowContent--deals {
  justify-content: space-between;
  margin-top: 30px;
}

.flexRow--deals .flexCol {
  align-items: center;
  border: 2px solid #E2116D;
  border-radius: 42px;
  padding: 7px 20px;
  width: 220px;
  justify-content: center;
}

.flexRowContent--deals-mobile {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
  background: #f5f5f5;
  padding-top: .8rem;
}

.flexColChild--deals-column {
  height: auto !important;
}

.flexRowContent--deals-mobile .stretchChildrenWidth {
  width: 100%;
  margin-left: 18px;
}

@media (max-width: 1025px) {
  .flexRow--deals .flexCol {
    padding: 5px 10px;
  }
  
  .flexRowContent--deals  {
    flex-wrap: wrap;
    padding: 0 0.5rem;
  }
  
  .flexRowContent--deals .stretchChildrenWidth {
    margin-bottom: 10px;
    padding: 0 0.5rem;
  }
}
