.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

@media (max-width: 768px) {
  .sliderLayoutContainer--shelf {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .sliderLeftArrow--shelf,
  .sliderRightArrow--shelf {
    transform: translatey(-30px);
  }
}

.sliderLayoutContainer--exploreCategories {
  margin-bottom: 40px;
}

.sliderTrackContainer {
  /* max-width: 1520px; */
  max-width: 100%;
  height: auto;
}

.paginationDotsContainer {
  margin-bottom: -1rem;
  padding: 1rem 2rem;
}

.paginationDot--shelf {
  height: .9rem !important;
  width: .9rem !important;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}

.paginationDot--shelf {
  background: white;
  border: 1px solid #2F2F2F;
}

.paginationDot--shelf--isActive {
  background: #2F2F2F;
}

.caretIcon {
  border: 1px solid #D1D1D1;
}

.slide--shelf--visible {
  transition: ease-in-out 0.3s;
}

.slide--shelf--visible .buttonText {
  display: none;
}

.slide--shelf--visible:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.07);
}
