/*---------- MOBILE VERSION ----------*/

.infoCardImageLinkWrapper--info-card-home-collection {
  width: 100%
}

.infoCardContainer--info-card-home-mobile {
  padding: 0px;
  display: flex;

  width: 100%;

  justify-content: center;
}

/* me.linda 2021 */
.infoCardHeadline--info-card-home-mobile {
  width: min-content;
  padding: 2rem 0 1.4rem 1.5rem;
  font-size: 60px;
  font-weight: 500;
  color: #fff;
  height: 0;
}

.infoCardTextContainer--info-card-home-mobile {
  display: none;
}

.infoCardImageContainer--info-card-home-mobile {
  width: auto;
}


.infoCardContainer--info-card-home-collection {
  width: 100%;
  display: block;
  position: relative;
}

.infoCardImageContainer--info-card-home-collection {
  width: 100%;
}

.infoCardCallActionContainer--info-card-home-collection :global(.vtex-button) {
  background-color: transparent;
  font-size: 21px;
  padding: 10px 30px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  white-space: nowrap;
  border-radius: 15px;

}

.infoCardContainer--info-card-home-collection .infoCardCallActionContainer {
  display: none;
  position: absolute;
  top: calc(50% - 20px);
  transform: translate(-50%, -50%);
  left: 50%;
}


.infoCardContainer--info-card-home-collection:hover .infoCardCallActionContainer {
  display: block;
}

.infoCardContainer--info-card-home-collection:hover .infoCardImageContainer::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(226, 17, 109, 0.8);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
}

.infoCardContainer--info-card-home-collection:hover .infoCardTextContainer--info-card-home-collection {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
}

.infoCardImage--info-card-home,
.infoCardImage--info-card-home-collection {
  width: 100%;
}

.infoCardImageContainer--info-card-home-collection {
  position: relative;
}

@media (max-width: 1024px) {
  .infoCardContainer--info-card-home-mobile {
    margin-top: 1rem;
  }

  .infoCardCallActionContainer--info-card-home-collection :global(.vtex-button) {
    padding: 5px;
  }

  .infoCardCallActionContainer--info-card-home-collection :global(.vtex-button__label) {
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  .infoCardCallActionContainer--info-card-home-collection :global(.vtex-button) {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .infoCardContainer--info-card-home-mobile {
    flex-direction: column;
  }

  .infoCardCallActionContainer--info-card-home-collection :global(.vtex-button) {
    font-size: 30px;
    padding: 5px 40px;
  }
}

/*---------- DESKTOP VERSION ----------*/

.infoCardContainer--info-card-home {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px;
  margin-top: 1rem;
  display: block;
}

/* me.linda 2021 */
.infoCardHeadline--info-card-home {
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}

.infoCardContainer--info-card-home .infoCardTextContainer {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.infoCardContainer--info-card-home .infoCardImageContainer {
  width: 100%;
}

@media (max-width: 1300px) {
  .infoCardHeadline--info-card-home {
    margin: 0 0 -4rem;
    padding: 0;
  }
}

.imageElement--deals-image-mobile {
  width: 24px;
}
