.container--newsletter-titlem,
.container--newsletter-subtitle {
  justify-content: left;
}

.headingLevel2--newsletter-title {
  color: #0E0E0E;
  font-size: 31px;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
  text-align: center;
}

.paragraph--newsletter-subtitle {
  color: #0E0E0E;
  font-size: 18px;
  margin: 0;
  max-width: 80%;
  line-height: 20px;
  text-align: left;
}

.paragraph--newsletter-terms {
  color: #0E0E0E;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.link--newsletter-terms {
  color: #0E0E0E;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
}

.container--newsletter-title,
.container--newsletter-terms {
  justify-content: flex-start;
}
