.flexRow--newsletter {
  padding: 2rem 0;
  margin-top: 5rem;
}

.flexRowContent--newsletter {
  margin: 0 auto;
  padding: 25px 80px;
  border: 2px solid #E2116D;
  border-radius: 40px;
}

.container--newsletter-terms {
  justify-content: flex-start;
}

.flexColChild--newsletter {
  height: 40px;
}

@media (max-width: 1024px) {
  .flexRowContent--newsletter {
    flex-direction: column;
  }
}
