.newsletterForm {
  display: flex;
  justify-content: flex-end;
}

.formSubmitContainer :global(.vtex-button) {
  width: 100%;
}

.emailInputContainer {
  width: calc(100% - 135px);
}

.formSubmitContainer {
  width: 135px;
  margin-left: 8px;
}

.defaultSuccessMessage {
  display: flex;
  justify-content: center;
  width: 10rem;
  margin: .3rem auto;
  padding: .5rem;
  background: #c62761;
  color: #fff;
}

@media (max-width: 1024px) {
  .newsletterForm {
    grid-template-columns: 80vw;
  }
}
