.footerLayout {
  margin-top: 50px;
}

.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.socialNetworksContainer {
  margin: 0;
}

.socialNetworkImage {
  display: none;
}

.socialNetworkLink--facebook {
  background-image: url("assets/icons/facebook.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.socialNetworkLink--twitter {
  background-image: url("assets/icons/twitter.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.socialNetworkLink--instagram {
  background-image: url("assets/icons/instagram.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.socialNetworkLink--youtube {
  background-image: url("assets/icons/youtube.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
