.flexRowContent--payment-methods-and-implementers,
.flexRowContent--footer-menus {
  padding-left: .5rem;
}

.flexRowContent--payment-images .stretchChildrenWidth {
  margin-right: .5rem;
}

.flexRow--footer-contacts {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.flexCol--contact-with-border {
  border-left: 1px solid #e1e1e1;
}

.flexColChild--contact-with-border {
  padding: 1.5rem 2rem;
}

.flexColChild--contact {
  padding: 1.5rem 2rem;
}

@media (max-width: 1024px) {
  .flexRow--footer-contacts {
    border-top: 0.5px solid #e1e1e1;
    border-bottom: 0.5px solid #e1e1e1;
  }

  .flexCol--contact-with-border {
    border-left: none;
    border-top: .5px solid #e1e1e1;
    border-bottom: 0.5px solid #e1e1e1;
  }

  .flexCol--contact {
    border-left: none;
    border-top: .5px solid #e1e1e1;
    border-bottom: 0.5px solid #e1e1e1;
  }

  .flexColChild--contact-with-border {
    padding: 1rem 1.25rem;
  }

  .flexColChild--contact {
    padding: 1rem 1.25rem;
  }

  .flexRow--footer-contacts :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}

.flexRow--payment-methods-and-implementers {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem 0;
}

.flexRowContent--payment-methods-and-implementers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexRow--footer-menus {
  padding-top: 20px;
  padding-bottom: 3rem;
}

@media(max-width: 1024px) {

  .flexRow--footer-social-network {
    padding: 0 1rem 0 1.5rem;
  }

  .flexRowContent--footer-social-network .flexCol {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .flexRowContent--payment-methods-and-implementers {
    flex-direction: column;
  }

  .flexColChild--payment-methods-and-implementers {
    padding: 0.5rem 0;
  }

  .flexRowContent--footer-implementers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.flexRowContent--footer-contacts {
  justify-content: center;
}

@media(max-width: 450px) {
  .flexRowContent--payment-images {
    display: flex;
    padding: 0 0 1rem;
  }

  .flexRowContent--footer-social-network .flexCol {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .flexRow--payment-images {
    max-width: 220px;
  }

  .flexColChild--contact {
    max-width: 367px;
  }
}

.flexRowContent--footer-implementers {
  display: flex;
  align-items: center;
}

.flexCol--contact-landline-content {
  margin-left: 10px;
}

.flexCol--contact-landline-border {
  padding: 1.5rem 2rem;
  border-right: 1px solid #e1e1e1;
}

@media (max-width: 450px) {
  .flexCol--contact-landline-border {
    padding: 1rem 1.25rem;
  }

  .flexCol--contact-landline-content {
    margin-left: 0;
  }
}

.footerCategoriesContainer {
  display: block !important;
}
