.strong--footer-menu-title {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 18px;
  color: #0E0E0E !important;
}

.paragraph--disclosure-menu-icons {
  font-weight: 700;
}

.paragraph--footer .strong--footer {
  color: #e2116d;
}

.paragraph--contact-title {
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 20px;
  color: #0E0E0E;
  margin: 0;
}

.strong--contact-title {
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 20px;
  color: #0E0E0E;
}

.link--contact-content-whatsapp {
  background: #2CB100;
  border-radius: 50px;
  color: #fff !important;
  padding: 3px 30px;
  text-decoration: none;
  margin-top: 5px;
  display: inline-block;
}

.paragraph--contact-content,
.paragraph--contact-content-whatsapp,
.wrapper--contact-content .paragraph {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0;
}

.link--contact-content,
.link--contact-content-whatsapp {
  color: #0e0e0e;
}

.container--contact-content-whatsapp {
  width: max-content;
  padding: 0;
  display: flex;
  justify-content: flex;
  align-items: center;
  border-radius: 13.5px;
}


.paragraph--payment-methods,
.paragraph--implementers {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

@media (min-width: 1300px) {

  .paragraph--contact-content,
  .paragraph--contact-content-whatsapp,
  .paragraph--contact-landline-content,
  .wrapper--contact-content .paragraph {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .container--payment-methods .wrapper--payment-methods {
    width: 100%;
    text-align: center;
  }
}
