.imageElement--contact-whatsapp-icon {
  width: auto;
  height: 32px;
}

.imageElement--contact-landline-icon {
  width: 75px;
  height: auto;
}

@media(max-width: 450px) {
  .imageElement--contact-landline-icon {
    width: 35px;
  }
}

.imageElement--beleza-logo-image {
  height: auto;
  width: 40vw;
  max-width: none;
  margin-top: 16px;
}

@media(min-width: 450px) {
  .imageElement--beleza-logo-image {
    height: 32px;
    width: auto;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .imageElement--beleza-logo-image {
    width: 50%;
    max-width: 120px;

    margin-top: 16px;
  }
}

@media(max-width: 450px) {
  .imageElement--payment-method-image {
    width: 65%;
  }
}
