<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <% if(localMode){ %>
    <link rel="stylesheet" href="/dist/minified/<%= prefix %>checkout.min.css" />
    <% } else{ %><% } %>
  </head>
  <body>
    <% if(localMode){ %>
    <%- include('checkout/checkout-header'); %>
    <% } else{ %><% } %>
    <div style="width: 100%; height: 50vh;"></div>
    <% if(localMode){ %>
    <%- include('checkout/checkout-footer'); %>
    <script type="text/javascript" src="https://io.vtex.com.br/front-libs/jquery/1.8.3/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/dist/minified/<%= prefix %>checkout.min.js"></script>
    <% } else{ %><% } %>
  </body>
</html>
