.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

.productBrandName {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #0E0E0E;
}

.nameContainer {
  justify-content: start;
  padding: 0;
  margin-top: 5px;
  display: block;
  margin-bottom: .5rem;
}

.brandName {
  font-family: 'Omnes';
  font-weight: 300;
  font-size: 16px;
  color: #2E2E2E;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}
