.flexCol--productRating {
  margin-top: 1rem;
  height: 1.8rem;
}

.flexRow--newsContainer :global(.vtex-product-summary-2-x-containerNormal) .flexRow--unavailableButton {
  visibility: hidden;
}

.flexRow--newsContainer :global(.vtex-product-summary-2-x-containerNormal) .flexRow--unavailableButton :global(.vtex-button) {
  background: #E2116D;
  border-color: #E2116D;
  border-radius: 5px;
  padding: 3px 0;
}

.flexRow--newsContainer :global(.vtex-product-summary-2-x-containerNormal):hover .flexRow--unavailableButton {
  visibility: visible;
}

.flexRow--newsContainer :global(.vtex-product-summary-2-x-containerNormal):hover::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.54);
  z-index: 2;
}

.flexRow--newsContainer :global(.vtex-product-summary-2-x-containerNormal):hover :global(.vtex-product-summary-2-x-imageContainer),
.flexRow--newsContainer :global(.vtex-product-summary-2-x-containerNormal):hover .flexRow--unavailableButton {
  z-index: 3;
}

.flexRow--newsContainer :global(.vtex-product-summary-2-x-containerNormal):hover :global(.vtex-product-price-1-x-savings--summaryPercentage),
.flexRow--newsContainer :global(.vtex-product-summary-2-x-containerNormal):hover :global(.vtex-product-price-1-x-savings--product-price-savings),
.flexRow--newsContainer :global(.vtex-product-summary-2-x-containerNormal):hover .flexRow--shelfSearchWishlist {
  z-index: 4;
}

.flexRowContent--shelfSearchWishlist :global(.vtex-button) {
  visibility: visible !important;
}


.flexRow--newsContainer :global(.vtex-add-to-cart-button-0-x-buttonText) {
  font-size: 0;
  display: flex;
  align-items: center;
  gap: 3px;
}

.flexRow--newsContainer :global(.vtex-add-to-cart-button-0-x-buttonText)::before {
  content: "Comprar";
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}

.flexRow--unavailableButton :global(.vtex-button):disabled {
  display: block;
}

.flexRow--urderlineSummary {
  width: 90%;
  border-top: 1px dashed #dedede;
  margin: 5px 0;
}
