@import "../settings/settings";
@import "../modules/reset";
@import "../modules/grid";
@import "../modules/freightBar";

html,
body {
  font-family: $base-font-family;
  background: #fff;
  color: $color-base-dark;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

// header

@import "../modules/header";

// footer

@import "../modules/footer";

// all

input {
  background-position: calc(100% - 10px) center !important;
  background-repeat: no-repeat !important;
  background-size: 20px !important;

  &.success {
    border-color: $green-accent !important;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$green-accent}' width='24' height='24'%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/%3E%3C/svg%3E");
  }

  &.error {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$red-accent}' width='24' height='24'%3E%3Cpath d='M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm1-5a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16z'/%3E%3C/svg%3E");

    border-color: $red-accent !important;

    &:focus {
      border-color: $red-accent !important;
    }
  }
}

#orderform-title,
#orderform-sac-title,
#cart-title {
  display: none !important;
}

.container {
  width: calc(100% - 2em);
  max-width: 1368px;
}

.checkout-container {
  min-height: 200px;
  position: relative;
  overflow: hidden;
  padding: 0 10px;

  // @media (min-width: 960px) {
  //     margin: 0 -10px;
  // }

  @media (max-width: 959px) {
    margin: 0;
  }
}

.loading-bg {
  opacity: 1;
  background: #fff;
  margin: 0;
  height: 100%;

  .icon-spinner {
    width: 40px;
    height: 40px;
    font-size: 0;
    border: 2px solid $color-base-dark;
    border-right: 2px solid transparent;
    border-radius: 50%;
  }
}

body {
  //services
  @import "../modules/front-messages";
  @import "../modules/modals";

  //cardform
  @import "../modules/cardform";

  &.__cart {
    @import "../modules/empty";
    @import "../modules/cart";

    @media (max-width: 959px) {
      .checkout-container {
        padding: 0;
      }
      .summary-template-holder .row-fluid.summary {
          padding: 0;
      }
    }
  }

  &.__email {
    @import "../modules/email";
  }

  &.__profile,
  &.__shipping,
  &.__payment {
    @import "../modules/profile";
    @import "../modules/shipping";
    @import "../modules/payment";
    @import "../modules/summary";

    .orderform-template-holder.span8 {
      @media (min-width: 961px) {
        width: calc(100% - 380px - 2em);
      }

      @media (max-width: 960px) {
        width: 100%;
      }
    }

    .row-fluid.orderform-template {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .orderform-template-holder {
      .row-fluid {
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: row;
      }
    }
  }

  &.body-checkout-confirmation {
    @import "../modules/order-placed";
  }
}

.btn-place-order-wrapper {

  a[href="#/orderform"]#cart-to-orderform {
    font-size: 0;
    
    &:after {
      content: "Finalizar compra";
      font-size: 16px;
    }
  }
}
.item-unavailable-message span {

  &:nth-child(3) {
    font-weight: 400;
  }
}

.srp-delivery-header {

  .srp-address-title {
    text-decoration: underline !important;
    color: #368df7 !important;
  }
}

._cby-freightBar {
  
  ._cby-freightBar-header {
    font-weight: bold;
    border: 2px solid #e0e0e0;
    padding: 10px;
  }
}