.suffixWrapper--searchBarMobileIcon .searchBarIcon--searchBarMobileIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.375rem;
  width: 2.375rem;
  padding: 0;
  background-color: #A07DAB;
}

.searchIcon--searchBarMobileIcon {
  height: 1.125rem;
  width: 1.125rem;
}

.searchBarInnerContainer--searchBarMobileIcon {
  width: 85%;
  margin: 0 auto;
}

.autoCompleteOuterContainer--searchBarMobileIcon :global(.vtex-input__suffix) {
  padding: 0;
}

.suffixWrapper--search-bar-desktop .searchBarIcon--search-bar-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  padding: 0;
  background-color: #9F7DAB;
}

.searchIcon--search-bar-desktop {
  height: 22px;
  width: 22px;
}

.searchBarInnerContainer--search-bar-desktop {
  width: 100%;
  margin: 0 auto;
}

.autoCompleteOuterContainer--search-bar-desktop :global(.vtex-input__suffix) {
  padding: 0;
}

.autoCompleteOuterContainer--search-bar-desktop :global(.vtex-input-prefix__group) {
  height: 44px;
  border: 1px solid #D9D9D9;
}

.resultsList--searchBarMobileIcon {
  padding-bottom: 5rem;
}
