.container--headerMobile :global(.vtex-store-components-3-x-searchBarContainer) {
  padding-bottom: 1rem;
}

@media (min-width: 640px) {
  .container--headerMobile :global(.vtex-store-components-3-x-searchBarContainer) {
    margin: 0 auto;
  }
}