.BrandSubmenuContainer {
  display: flex;

  height: 33rem;
  width: 100% !important;

  gap: 0.875rem;
}

.Content {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  gap: 1rem;
}

.BrandsContainer {
  position: relative;
  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  height: 100%;
  width: 100%;

  scroll-behavior: smooth;
  overflow-y: auto;
}

.BrandsContainer::-webkit-scrollbar {
  width: 7px;

  border-radius: 1rem;
}

.BrandsContainer::-webkit-scrollbar-track {
  border-radius: 1rem;
  margin: 1rem 0;

  background-color: #DFDFDF;
}

.BrandsContainer::-webkit-scrollbar-thumb {
  border-radius: 1rem;

  background-color: #EC2272;
}

.BrandsContainer h3 {
  margin: 0.5rem 0 0.2rem;

  font-weight: 600;
  text-transform: uppercase;
}

.LetterSectionContainer {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;

  height: fit-content;
  width: 100%;

  gap: 0.2rem;
}

.LetterSectionContainer a {
  font-family: Omnes, sans-serif;
  font-weight: 100;
  text-decoration: none;

  background-color: transparent;
  color: black;
}

.BrandKeysContainer {
  display: flex;
  flex-direction: column;

  align-items: center;

  height: 100%;
  width: 2rem;

  overflow-y: auto;
}

.BrandKeysContainer::-webkit-scrollbar {
  width: 4px;

  border-radius: 1rem;
}

.BrandKeysContainer::-webkit-scrollbar-track {
  border-radius: 1rem;

  background-color: #DFDFDF;
}

.BrandKeysContainer::-webkit-scrollbar-thumb {
  border-radius: 1rem;

  background-color: #cccccc;
}

.BrandKeysContainer button {
  border: none;
  padding: 2px;

  font-size: 0.875rem;
  text-transform: uppercase;

  background-color: transparent;

  cursor: pointer;
}

.BrandKeysContainer button:hover {
  font-weight: 900;
}

@media (min-width: 1024px) {
  .BrandSubmenuContainer {
    width: 17rem !important;

    margin: 1rem 1rem 1rem 1.5rem;
  }
}
