.App.iframe-custom-private-401-payment-group {
    .PaymentCardNumber {
        margin-bottom: 15px;
    }

    .card-flags {
        display: none;
    }
}

.SecurityEnvironmentIcon {
    padding: 2px 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: $border-medium;
    background: #a0d882;
    color: darken(#a0d882, 40%);
    margin-bottom: 6px;

    i {
        font-size: 20px !important;
    }

    span {
        font-size: 12px !important;
        width: auto !important;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.CardForm {
    padding: 0;

    p {
        margin-bottom: 5px;
    }

    label {
        margin-bottom: 5px;
    }

    span.error {
        color: #dd4b39;
        width: 100% !important;
        font-size: 10px !important;
    }

    .SavedCards .SavedCardsList {
      margin: 10px 0;
      width: 100%;
    }

    .SavedCard .link-delete {
      left: 0;
      right: inherit;
    }

    input {

        &[type="text"],
        &[type="tel"],
        &[type="number"] {
            @include input-reset;
            @include focus-reset;
            max-width: 400px;
            width: 100%;
        }
    }

    select {
        @include input-reset;
        @include focus-reset;
    }

    .PaymentCardNumber {
        padding-top: 10px;
    }

    .PaymentCardFlags {

        .card-flags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 5px 0 15px 0;
        }

        .card-flag {
            margin: 0;
            opacity: .4;

            &-radio {
                display: none;
            }

            &-label {
                transform: scale(.9);
                width: 40px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            &.card-selected {
                opacity: 1;
            }
        }
    }

    .PaymentCardCVV {
        label {
            display: block;
            width: 100%;
        }
    }

    .PaymentCardHolderName {
        label {
            display: block;
            width: 100%;
        }
    }

    .PaymentCardCVV {
        label {
            display: block;
            width: 100%;
        }
    }



    .PaymentCardCVVHelp {
        width: 120px;
        padding-top: 72px;
        margin: -65px 0 0 165px;
        font-size: 0;

        @media (max-width: 959px) {
            display: none;
        }

        .cvv-four-digits {}

        .cvv-help-arrow {}

    }

    .PaymentCardHolderDocument {
        label {
            display: block;
            width: 100%;
        }
    }

    .PaymentInstallments {
        select {
            width: 100%;
            max-width: 400px;
        }
    }

    .PaymentCardDueDate {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        label {
            display: block;
            width: 100%;
        }
    }

    .payment-card-due-month {
        width: 100%;
        max-width: 100px;

        select {
            width: 100%;
        }
    }

    .payment-card-due-year {
        width: 100%;
        max-width: 100px;

        select {
            width: 100%;
        }
    }

    .PaymentCardValue {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .add-on {
            height: 42px;
            line-height: 42px;
            padding: 0;
            width: 40px;
            text-align: center;
            border-radius: 0 !important;
            text-shadow: none !important;
        }

        input {
            width: calc(100% - 40px) !important;
        }
    }

    #dont-know-postal-code {
        font-size: 12px;
    }
}

.ChangeNumberOfPayments {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

    a {
        @include btn-large;
        @include primary-btn;
    }
}
