.cart-template.full-cart {
  display: flex;
  padding-top: .5rem;

  @media (min-width: 960px) {
    flex-direction: column;
  }

  @media (max-width: 959px) {
    flex-direction: column;
    flex-wrap: wrap;
  }

  // &:before {
  //     content: "";
  //     width: calc(100% - 30px);
  //     margin: 0 15px;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     height: 1px;
  //     background: #ececec;
  // }

  .shipping-sla-options {
    @media (max-width: 959px) {
      max-width: 320px;
      bottom: -115px;
    }
    a {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      box-orient: vertical;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
    }
  }
}

.extensions-checkout-buttons-container {
  display: none !important;
}

.cart-template-holder {
  @media (min-width: 960px) {
    width: 100%;
    padding: 10px;
  }

  @media (max-width: 959px) {
    width: 100%;
  }

  .cart {
    margin: 0;
    padding: 0;
    border: none;

    .cart-items {
      display: flex !important;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 2rem;
      thead {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 1rem;
        background-color: rgba(159, 125, 171, 0.5);

        @media (max-width: 959px) {
          display: none;
        }

        tr {
          background-color: rgba(159, 125, 171, 0);
          border: none !important;

          &:after {
            content: "";
            order: 7;
            width: 40px;
            height: 20px;
            display: flex;
          }
        }

        th {
          padding: 0;
          text-align: left;
          font-size: 16px;
          font-weight: 500;
          color: #412B48;
          text-transform: uppercase;
        }

        .product {
          order: 1;
          width: 78px;
        }

        .item-remove {
          order: 2;
          width: calc(20% - 30px);
        }

        .shipping-date {
          order: 3;
          width: calc(20% - 93px);
        }

        .product-price {
          order: 4;
          width: calc(20% - 63px);
        }

        .quantity {
          order: 5;
          width: 99px;
        }

        .quantity-price {
          order: 6;
          width: calc(20% - 99px);
        }
      }

      tbody {
        width: 100%;
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px;
      }

      tr {
        width: 100%;
        padding: 10px;
        background: #fff;
        position: relative;
        z-index: 2;
        border-top: 1px solid #F0f0f0;
        border-left: 1px solid $color-gray-lighter;
        border-right: 1px solid $color-gray-lighter;

        &:not(:last-child) {
          border-bottom: none;
        }

        &:last-child {
          border-bottom: 1px solid #f0f0f0;
        }

        @media (min-width: 960px) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
        }

        @media (max-width: 959px) {
          padding-bottom: 60px;
          border-left: none;
          border-right: none;
        }

        td {
          @media (max-width: 959px) {
            &.product-image {
              float: left;
            }

            &.product-name,
            &.shipping-date,
            &.product-price,
            &.quantity,
            &.quantity-price {
              float: left;
            }
          }
        }

        // &:not(.item-component) {
        //     &:before {
        //         content: '';
        //         order: 4;
        //         width: 100%;
        //         height: 1px;
        //         background: #e2e2e2;
        //         margin: 5px 0;
        //     }

        //     &:not(:first-child) {
        //         margin-top: 15px;
        //     }
        // }

        td.product-image {
          order: 1;
          width: 80px;
          height: auto;
          padding: 0;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          flex-direction: column;
          position: unset;

          @media (max-width: 959px) {
            margin-right: 15px;
            width: 70px;
          }

          a {
            display: flex;
            width: 80px;
            height: 80px;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;
            background: $color-gray-medium;
            background-image: linear-gradient(to right, $color-gray-medium 0%, $color-gray-light 20%, $color-gray-medium 40%, $color-gray-medium 100%);
            background-repeat: no-repeat;
            background-size: 250% 100%;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: placeholderShimmer;
            animation-timing-function: linear;

            // @media (min-width: 960px) {
            //     width: calc(100% - 340px);
            //     padding: 10px;
            // }

            @media (max-width: 959px) {
              width: 70px;
              height: 70px;
            }
          }

          img {
            height: auto;
            max-width: 120px;
            width: 100%;
            opacity: 0;
            transition: all 0.3s ease;

            &.loaded {
              opacity: 1;
            }
          }
        }

        td.product-name {
          order: 2;
          padding: 0 !important;
          margin: 0 !important;
          display: flex;
          align-items: center;

          @media (min-width: 960px) {
            width: calc(20% - 30px);
            height: 55px;
          }

          @media (max-width: 959px) {
            width: calc(100% - 100px);
            margin-bottom: 10px !important;
          }

          a {
            padding: 0;
            font-family: $base-font-family;
            font-size: 14px;
            color: #000105;
            text-decoration: none;
            display: flex;
            flex-direction: column;

            .cby-prod {
              &-name,
              &-color,
              &-size {
                font-weight: normal;
              }

              &-name {
                font-size: 24px;
                line-height: 24px;
              }

              &-color,
              &-size {
                font-size: 14px;
                line-height: 14px;
                margin-top: 5px;
              }
            }
          }

          .brand,
          .seller {
            display: none !important;
          }
        }

        td.shipping-date {
          padding: 0;
          order: 3;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          @media (min-width: 960px) {
            width: calc(20% - 70px);
          }

          @media (max-width: 959px) {
            width: calc(100% - 150px);
            display: none;
          }
        }

        td.product-price {
          padding: 0;
          order: 4;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;
          position: relative;

          span {
            font-size: 14px;
            line-height: 14px;
          }

          @media (min-width: 960px) {
            width: calc(20% - 70px);
          }

          @media (max-width: 959px) {
            width: calc(50% - 50px);
            //display: none;
            position: absolute;
            bottom: 40px;
            left: 95px;
            height: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;

            // &:after {
            //   content: "Preço";
            //   position: absolute;
            //   top: 0;
            //   left: 0;
            //   font-weight: normal;
            //   font-size: 14px;
            //   color: $color-gray-medium;
            // }

            //  * {
            //      font-weight: bold;
            //  }
          }

          br {
            display: none;
          }

          .list-price {
            margin-right: 10px;

            * {
              color: $color-gray-medium;
            }
          }

          .best-price {
            a.discount {
              display: none;
            }
          }
        }

        td.quantity {
          order: 5;
          padding: 0;
          display: flex !important;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          width: 110px;
          //border: 1px solid $color-gray-lighter;
          border: 1px solid transparent;
          height: 50px;
          border-radius: $border-medium;

          @media (max-width: 959px) {
            position: absolute;
            left: 90px;
            bottom: 0;
            //width: auto;
            margin-left: 0;
            height: 40px;
            width: 88px;
          }

          .item-quantity-change {
            width: 28px;
            height: 28px;
            //border: 1px solid #fff;
            transition: $transition-100;
            position: unset;
            padding: 0;

            i.icon {
              width: 28px;
              height: 28px;
              font-size: 0;
              //background-color: #e1e1e1;
              background-color: transparent;
              display: block;
              background-size: 16px;
              background-position: center;
              background-repeat: no-repeat;
              transition: $transition-100;
              border-radius: none;
              border: 1px solid $color-gray-lighter;

              &.icon-minus-sign {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='#{$color-base-dark}' height='24'%3E%3Cpath d='M19 13H5v-2h14v2z'/%3E%3C/svg%3E");
                border: 1px solid #CFCFCF;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                border-right: transparent;
              }

              &.icon-plus-sign {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='#{$color-base-dark}' height='24'%3E%3Cpath d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/%3E%3C/svg%3E");
                border: 1px solid #CFCFCF;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                border-left: transparent;
              }
            }

            &:hover,
            &:focus {
              //border: 1px solid #000;
            }


            @media (max-width: 959px) {
              width: 27px;
              height: 27px;

              i.icon {
                &.icon-minus-sign {
                  border: 1px solid #CFCFCF;
                  border-top-left-radius: 2px;
                  border-bottom-left-radius: 2px;
                  border-right: transparent;
                }

                &.icon-plus-sign {
                  border: 1px solid #CFCFCF;
                  border-top-right-radius: 2px;
                  border-bottom-right-radius: 2px;
                  border-left: transparent;
                }
                width: 27px;
                height: 27px;
              }
            }
          }

          input {
            width: 28px;
            height: 28px;
            border-top: 1px solid $color-gray-lighter;
            border-bottom: 1px solid $color-gray-lighter;
            border-radius: 0;
            padding: 3px;
            box-shadow: none;
            transition: $transition-100;
            position: unset;
            margin: 0;

            @include focus-reset;

            &:hover,
            &:focus {
              //border: 1px solid #a0a0a0;
            }

            @media (max-width: 959px) {
              width: 27px;
              height: 27px;
              padding: 0;
            }
          }

          .item-multiplier-label,
          .item-unit-label {
            display: none;
          }
        }
        @media (max-width: 959px) {
          .total-selling-price {
            font-size: 14px;
            font-weight: 500;
          }
        }

        td.quantity-price {
          padding: 0;
          order: 6;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;

          span {
            font-size: 14px;
            line-height: 14px;
            font-weight: 500;
          }

          @media (min-width: 960px) {
            width: calc(20% - 70px);
          }

          @media (max-width: 959px) {
            width: calc(50% - 50px);
            position: absolute;
            right: 0;
            bottom: 10px;
            height: 45px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            &:after {
              content: "Total";
              position: absolute;
              top: 0;
              right: 0;
              font-weight: normal;
              font-size: 14px;
              color: $color-gray-medium;
            }

            * {
                font-weight: bold;
            }
          }
        }

        td.item-remove {
          order: 7;
          width: 40px;
          height: 55px;
          padding: 0;
          position: relative;

          @media (max-width: 959px) {
            position: absolute;
            right: 0;
            top: 0;
          }

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 0;

            i {
              width: 26px;
              height: 26px;
              font-size: 0;
              display: block;
              background-size: 18px;
              background-position: center;
              background-repeat: no-repeat;
              transition: $transition-100;
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$color-base-dark}' viewBox='0 0 21 21'%3E%3Cdefs/%3E%3Cpath d='M17.4 2.6h-3.6V2c0-1.1-.9-2-2-2H9.2c-1.1 0-2 .9-2 2v.6H3.6c-.9 0-1.6.8-1.6 1.7v2.3c0 .3.3.6.6.6H3l.6 12c0 1 .9 1.8 2 1.8h9.9c1 0 1.9-.8 2-1.9L18 7.2h.4c.3 0 .6-.3.6-.6V4.3c0-1-.7-1.7-1.6-1.7zM8.5 2c0-.4.3-.7.7-.7h2.6c.4 0 .7.3.7.7v.6h-4V2zM3.3 4.3c0-.2.1-.4.3-.4h13.8c.2 0 .3.2.3.4v1.6H3.3V4.3zM16 19c0 .3-.3.6-.6.6h-10A.7.7 0 015 19L4.3 7.2h12.4l-.6 11.9z'/%3E%3Cpath d='M10.5 18.4c.4 0 .7-.3.7-.7V9.2a.7.7 0 10-1.4 0v8.5c0 .4.3.7.7.7zM13.8 18.4c.3 0 .6-.3.6-.7V9.2a.7.7 0 00-1.3 0v8.5c0 .4.3.7.7.7zM7.2 18.4c.4 0 .7-.3.7-.7V9.2a.7.7 0 00-1.3 0v8.5c0 .4.3.7.6.7z'/%3E%3C/svg%3E");

              @media (max-width: 959px) {
                position: absolute;
                right: 0;
                top: 8px;
              }
            }

            span {
              display: inline-flex;
              font-size: 12px;
              color: $color-base-dark;
              display: none;

              &:hover {
                color: $color-base-dark;
              }

              @media (max-width: 959px) {
                display: none;
              }
            }
          }

          .loading-text {
            position: absolute;
            left: -2px;
            top: 7px;
            width: 14px;
            height: 14px;
            padding: 0;
            margin: 12px;
            background: #fff;
            font-size: 0px;
            border: 1px solid $color-base-dark;
            border-right: 1px solid transparent;
            border-radius: 50%;
          }
        }

        &.item-component,
        &.item-attachments-head {
          position: relative;

          // &:before {
          //     content: '';
          //     width: 100%;
          //     height: 2px;
          //     background: $orange-accent;
          //     position: absolute;
          //     left: 0;
          //     top: 0;
          // }

          .top-arrow {
            display: none;
            top: -20px;
            border-bottom-color: $orange-accent;
          }
        }

        &.item-component {
          position: relative;
          border-radius: 0;
          box-shadow: none;
          z-index: 1;

          &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 20px;
            left: 0;
            top: -10px;
            z-index: -1;
            background: #d3e9ff;
          }

          &:after {
            position: absolute;
            content: "";
            box-shadow: $shadow-3;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            z-index: -2;
            background: #d3e9ff;
          }

          * {
            position: relative;
            z-index: 1;
          }
        }
      }
    }
  }
}

.summary-template-holder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  // &:before {
  //   content: "Resumo";
  //   width: 100%;
  //   display: block;
  //   margin: 10px 0 10px 10px;
  //   font-size: 14px;
  //   font-weight: normal;
  //   text-transform: capitalize;

  //   @media (max-width: 959px) {
  //     margin: 0 0 10px;
  //     font-size: 16px;
  //     padding-top: 1rem;
  //     border-top: 1px solid;
  //     font-weight: bold;
  //   }
  // }

  @media (min-width: 960px) {
    width: 100%;
    padding: 10px;
  }

  @media (max-width: 959px) {
    width: calc(100%);
    margin-right: 0;
    margin-top: 1em;
  }

  .row-fluid.summary {
    flex-direction: row;
    flex-wrap: wrap;
    //padding: 10px;
    background: #fff;

    &:not([style="display: none;"]) {
      display: flex !important;
    }

    @media (max-width: 959px) {
      flex-direction: column;
    }

    @import "../modules/srp";
    @import "../modules/gift";

    .cart-more-options {
      width: calc(100% - 350px);
      margin: 0;
      //border-bottom: 1px solid $color-gray-lighter;
      padding-bottom: 15px;
      margin-bottom: 15px;

      @media (max-width: 959px) {
        width: 100%;
      }

    }

    .summary-totalizers {
      width: 350px;
      margin: 0;
      padding: 0;

      @media (max-width: 959px) {
        width: 100%;
      }


      table.table {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        tr {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          td {
            flex: 1;

            @media (max-width: 959px) {
              font-size: 14px;
              padding: 0.65rem 0;
            }

            &.empty,
            &.space {
              display: none;
            }

            &.info {
              text-align: left;
              font-size: 16px;
            }

            &.info:last-child {
              font-weight: 500;
            }

            &.monetary {
              text-align: right;
              font-size: 16px;
            }

            &.monetary:last-child {
              font-weight: 500;
            }
          }
        }

        tfoot {
          td {
            @media (max-width: 959px) {
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }

      .shipping-sla-button {
        color: $color-base-white !important;
        background: $color-base-dark;
        border: none;
        padding: 5px 1rem;
        text-shadow: none;
        border-radius: $border-medium !important;

        &:hover {
          background: lighten($color-base-dark, 10%);
        }

        span {
          font-size: 14px;

          &.caret {
            border-top: 4px solid $color-base-white;
          }
        }
      }

      .srp-summary-result {
        &.hide {
          display: none;
        }
      }

      .postal-code-for-sla {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        font-size: 14px;
        min-width: 155px;
        justify-content: initial;
        align-items: center;
        display: none;

        span {
          margin-right: 5px;
        }
        .cart-reset-postal-code {
          font-size: 16px;
          color: #ff2626;
        }
      }

      .shipping-sla-options {
        border: 1px solid #000;
        border-radius: 0;
        padding: 0;
        max-width: 320px;

        a {
          padding: 0.6rem 1rem;
          color: $color-base-dark;
          background: $color-base-white;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          box-orient: vertical;
          /* autoprefixer: off */
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;

          &:hover {
            color: $color-base-white;
            background: $color-base-dark;
          }
        }
      }
    }

    .summary-coupon {
      margin: 0;

      @media (max-width: 959px) {
        width: 100%;
      }

      fieldset.coupon-fieldset {
        > div {
          display: flex !important;

          .coupon-label {
            display: none;
          }

          .coupon-fields {
            width: 100%;
            display: flex;

            span {
              width: 100%;
              display: flex;
              position: relative;
            }

            input {
              flex: 1;
              @include input-reset;
              width: 100%;
              height: 48px;
              padding-right: 120px;
              background-position: calc(100% - 120px) 50% !important;
              border: 1px solid $color-gray-lighter;
              border-radius: $border-medium;
            }

            #cart-coupon-add {
              @include btn-large;
              @include primary-btn;
              background: transparent;
              color: #612B75;
              margin-left: 0;
              width: 100px;
              // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#{$color-base-white}' %3E%3Cpath d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/%3E%3C/svg%3E");
              // font-size: 0px;
              // background-position: center;
              // background-repeat: no-repeat;
              // background-size: 24px;
              position: absolute;
              font-size: 14px;
              font-weight: 500;
              line-height: 36px;
              border-radius: $border-medium;
              height: 100%;
              top: 0;
              right: 0;
              border-left: 1px solid #ccc;

              &:hover {
                background: transparent;
              }
            }

            .loading-coupon {
              position: absolute;
              color: $color-base-dark;
              border: 1px solid $color-base-dark;
              width: 11px;
              height: 11px;
              font-size: 0px;
              right: 120px;
              top: 18px;
              border-radius: 50%;
              border-right: 1px solid transparent;
              z-index: 999;
              margin: 0;
            }

            span.info {
              padding: 5px;
              border: 2px dashed $green-accent;
              border-radius: $border-medium;
              align-items: center;
              font-family: $base-font-family;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 14px;
              letter-spacing: 1px;

              span {
                justify-content: center;
              }

              .delete {
                a {
                  width: 26px;
                  height: 26px;
                  font-size: 0;
                  display: block;
                  background-size: 18px;
                  background-position: center;
                  background-repeat: no-repeat;
                  transition: $transition-100;
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='#{$red-accent}' height='24'%3E%3Cpath d='M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4l5.6 5.6L5 17.6 6.4 19l5.6-5.6 5.6 5.6 1.4-1.4-5.6-5.6L19 6.4z'/%3E%3C/svg%3E");
                }
              }
            }
          }
        }
      }

      .coupon-data {
        display: none !important;
      }
    }

    .srp-data .shp-open-options {
      background: #1b1b1b;

      &:hover {
        background: #303030;
        filter: brightness(0.9);
      }
    }

    .srp-postal-code #cart-shipping-calculate {
      background: #1b1b1b;
      font-size: 16px;
      font-weight: 500;
      border-radius: 0;

      &:hover {
        background: #303030;
        filter: brightness(0.9);
      }
    }
  }
}

.cart-links-bottom {
  margin: 0;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: 959px) {
    flex-direction: column;
  }

  &:after, &:before {
    display: none;
  }

  span {
    //width: 100%;

    &.btn-place-order-wrapper {
      order: 2;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @media (min-width: 960px) {
        width: 100%;
        max-width: 350px;
      }

      @media (max-width: 959px) {
        position: fixed;
        bottom: 0;
        z-index: 9999;
        width: 100%;
        left: 0;
      }

      a {
        @include btn-large;
        @include primary-btn;
        border-radius: $border-medium;

        @media (max-width: 959px) {
          height: 64px;
          line-height: 64px;
          border-radius: 0 !important;
        }
      }
    }

    &.link-choose-more-products-wrapper {
      order: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @media (max-width: 959px) {
        width: 100%;
      }


      a {
        @include btn-large;
        @include tertiary-btn;
        @include tertiary-btn-outline;
        border-radius: 0;
        display: flex;
        align-items: center;
        border: 1px solid #949494;
        color: #949494;
        font-weight: normal;
        font-size: 16px;

        @media (max-width: 959px) {
          // height: 64px;
          // line-height: 64px;
          border-radius: 0 !important;
          justify-content: center;
        }
      }
    }
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
