.row-fluid.orderform-template {
  overflow: hidden;
  min-height: 600px;
}

.checkout-container {
  min-height: 600px;
}

.client-pre-email {
  background: #fff;
  border: none;
  padding-top: 50px;

  &[style="display: block;"] {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .client-pre-email-h {
      margin: 0 0 20px 0;
      display: flex;
      flex-direction: column;

      label {
        margin: 0;
        width: 100%;
        line-height: normal;
      }

      span {
        font-size: 20px;
        width: 100%;
        display: block;
        margin-bottom: 0;
        font-weight: normal;

        @media (max-width: 959px) {
          font-size: 0;
        }
      }

      &:before {
        @media (max-width: 959px) {
          font-size: 20px;
          width: 100%;
          display: block;
          margin-bottom: 0;
          font-weight: 400;
          content: "Para finalizar a compra, \A informe seu e-mail.";
          white-space: pre-wrap;
          line-height: 24px;
        }
      }

      small {
        font-size: 16px;
        display: inline-block;
        padding: 8px 15px;
        color: #8e8e8e;
        border-radius: $border-medium;
        font-weight: normal;
      }
    }

    .pre-email {
      width: 100%;
      max-width: 800px;
      order: 1;
      display: flex;
      flex-direction: column;

      .client-email {
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        position: relative;
        align-items: center;

        #client-pre-email {
          position: relative !important;
          width: 100%;
          font-size: 16px;
          padding: 0 15px;
          line-height: 48px;
          height: 48px;
          border-radius: $border-medium;
          text-shadow: none;
          color: $color-base-dark;
          border: 1px solid $color-gray-lighter;
          order: 2;
          @include focus-reset;

          background: center right 10px;
          background-repeat: no-repeat;
          background-size: 20px;
          max-width: 460px;

          &.success {
            border-color: $green-accent !important;

            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$green-accent}' width='24' height='24'%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/%3E%3C/svg%3E");
          }

          &.error {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$red-accent}' width='24' height='24'%3E%3Cpath d='M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm1-5a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16z'/%3E%3C/svg%3E");

            border-color: $red-accent !important;

            &:focus {
              border-color: $red-accent !important;
            }

            ~ .loading-inline {
              top: 22px !important;
            }
          }
        }

        #btn-client-pre-email {
          position: relative !important;
          width: 100%;
          right: 0;
          top: 0;
          font-size: 16px;
          padding: 0 15px;
          border: none;
          line-height: 48px;
          height: 48px;
          border-radius: $border-medium;
          text-shadow: none;
          color: $color-base-white;
          @include focus-reset;
          @include btn-black;
          order: 3;
          max-width: 460px;
          margin-top: 15px;
        }

        .loading-inline {
          position: absolute;
          right: 0px;
          top: 2px !important;
          width: 17px;
          height: 17px;
          padding: 0;
          margin: 12px;
          background: #fff;
          font-size: 0px;
          border: 1px solid $color-base-dark;
          border-right: 1px solid transparent;
          border-radius: 50%;
        }

        .help.error {
          order: 1;
          margin: 0 0 5px 0;
          position: absolute;
          top: -8px;
          background: #fff;
          padding: 0 10px;
        }
      }
    }

    .emailInfo {
      order: 2;
      width: 100%;
      max-width: 460px;
      padding: 35px 60px;
      border: none;
      text-align: left;
      background: #fff;
      margin: 25px 0 0 0;
      overflow: unset;
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      border-radius: $border-medium;
      border: 1px solid $color-gray-lighter;

      @media (max-width: 640px) {
        padding: 1rem;
      }

      h3 {
        margin: 8px 0 25px 0;
        color: $color-base-dark;
        order: 2;
        text-transform: uppercase;
        text-align: left;
        font-weight: 500;

        @media (min-width: 960px) {
          width: calc(100% - 80px);
        }

        @media (max-width: 959px) {
          width: 100%;
          text-align: center;
        }
      }

      .icon-lock {
        position: relative;
        bottom: unset;
        right: unset;
        order: 1;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 55.3 55.3' fill='#45d416'%3E%3Cpath d='M27.6 54.2l-.6-.1A34.7 34.7 0 013.8 21.4V6.9c0-.9.8-1.7 1.7-1.7a49.7 49.7 0 0022-3.9h.2l.8.2a49.7 49.7 0 0021.2 3.7c.9 0 1.7.8 1.7 1.7v14.5c0 14.7-9.3 27.8-23.2 32.7l-.6.1zm0-52l-.3.1A50.3 50.3 0 015.6 6.2c-.4 0-.7.3-.7.7v14.5c0 14.3 9.1 27 22.5 31.8H28a33.8 33.8 0 0022.5-31.8V6.9c0-.4-.3-.7-.7-.7-9 0-17.4-1.5-21.7-3.9l-.3-.1h-.2z'/%3E%3Cpath d='M30.9 36.2h-7.6a2.5 2.5 0 01-2.5-2.5v-6.3c0-1 .6-1.9 1.5-2.3v-2a4.8 4.8 0 019.6 0v2c.9.4 1.5 1.3 1.5 2.3v6.3c0 1.3-1.1 2.5-2.5 2.5zM27 28.4c-.6 0-1.1.5-1.1 1.1 0 .3.1.6.4.9v1.8c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-1.8c.3-.2.4-.5.4-.9.1-.6-.4-1.1-1.1-1.1zm.1-8.2a2.8 2.8 0 00-2.8 2.8v1.8h5.5V23a2.7 2.7 0 00-2.7-2.8z'/%3E%3C/svg%3E");
        width: 40px;
        height: 40px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 40px;
        margin: 0 20px 35px 0;

        @media (max-width: 959px) {
            margin: 0 auto 1rem;
          }

        &:before {
          display: none;
        }
      }

      ul {
        margin: 0 0 0 0;
        order: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;

        i {
          color: #45d416;
        }
      }
    }

    .link-cart {
      order: 3;
      display: none;

      a {
        font-size: 16px;
        display: inline-block;
        padding: 8px 15px;
        background: rgba($blue-accent, 0.2);
        color: rgba($blue-accent, 0.6);
        border-radius: $border-medium;
        text-decoration: none;
      }
    }
  }
}
