.empty-cart-content {
    position: absolute;
    width: 100%;
    background: #fff;
    text-align: center;
    height: 100%;

    .link-choose-products {
        @include btn-large;
        @include primary-btn;
        max-width: 200px;
        border-radius: $border-medium;
    }
    
}