._footer {
  background: $footer-bg;
  color: $color-base-dark;

  &-section-info  {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2rem 0;
  }

  @media (min-width: 960px) {
    padding: 2rem 0;
  }

  &_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media (min-width: 960px) {
      flex-direction: row;
    }

    ul {
      width: 100%;

      justify-content: center;
      display: flex;
      flex-wrap: wrap;

      h3 {
        width: 100%;
        font-size: 12px;
        font-weight: normal;
        text-align: center;

        @media (max-width: 959px) {
          font-size: 14px;
          font-weight: 400;
          padding-bottom: 1rem;
          margin-bottom: 1rem;
        }
      }

      @media (min-width: 960px) {
        flex: 1;
        justify-content: flex-start;
        h3 {
          text-align: left;
        }
      }
    }
  }

  &-logo {
    //max-width: 200px;
    img {
      width: 60px;
      height: auto;
    }
  }

  &-payment {
    li {
      @media (min-width: 960px) {
        &:not(:last-child) {
          margin-right: 5px;
        }
      }

      @media (max-width: 959px) {
        padding: 0.5rem;
      }
    }
    img {
      width: 40px;
      height: auto;
    }
  }

  &-secure {
    li {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
    img {
      width: 70px;
      height: auto;
    }
  }

  &-partner {
    justify-content: flex-end;
    @media (min-width: 960px) {
      max-width: 200px;
    }
    li {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
    img {
      height: 20px;
      width: auto;
    }
  }

  &-copy {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
