body {
    &:not(.__cart) {
        ._cby-freightBar {
            display: none;
        }
    }
}

._cby-freightBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition-200;
  height: auto;
  min-height: 45px;
  padding: 0 1rem;

  &._loading {
    opacity: 0;
    visibility: hidden;
    height: 0;
    min-height: 0;
  }

  &-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
  }

  &-icon {
    width: 25px;
    height: 25px;
    display: flex;
    margin-right: 10px;
  }

  &-text {
    margin: 0;
    line-height: 25px;
    font-size: 16px;

    strong {
      font-weight: 500;
    }
  }

  &-percent {
    height: 100%;
    background-color: #C62761;
    transition: $transition-200;
    max-width: 100%;

    &._is-free {
        background-color: #20B71D;
    }

    &-wrapper {
      width: 100%;
      height: 8px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #E0E0E0;
    }
  }
}
