.vtex-front-messages {

    &-placeholder {
        background: #fff;
        top: 1em;
        margin: 0;
        left: unset;
        box-shadow: $shadow-5 !important;
        border-radius: $border-medium;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        transform: none !important;
        transition: $transition-100 !important;
        right: -10%;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        width: calc(100% - 2rem);
        max-width: 460px;

        &-opened {
            right: 1em;
            visibility: visible;
            opacity: 1;
            pointer-events: all;
        }
    }

    &-close-all {
        width: 32px !important;
        height: 32px !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        top: unset !important;
        right: 5px !important;
        top: 5px !important;
    }

    &-template {
        border: none;
        padding: 1rem 2.5rem 1rem 1rem;
        width: 100%;
        &:not(:last-child) {
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }
    }

    &-type-success {
        background: #abe87c;
        color: $color-base-dark;
        border-bottom-color: darken(#abe87c, 20%);
    }

    &-type-info {
        background: #81bff8;
        color: $color-base-dark;
        border-bottom-color: darken(#81bff8, 20%);
    }

    &-type-warning {
        background: #faea81;
        color: $color-base-dark;
        border-bottom-color: darken(#faea81, 20%);
    }

    &-type-danger {
        background: #ff7a7a;
        color: $color-base-dark;
        border-bottom-color: darken(#ff7a7a, 20%);
    }
}
