

.cart-select-gift-placeholder {
    display: block;
    order: 4;
    width: 100% !important;
    max-width: 450px;
    margin-top: 2rem;

    &._active {
        display: flex !important;
    }

    .available-gift-quantity {
        background: #9F7DAB;
        color: #fff;
        font-weight: 400;
        text-align: center;
        margin: 0;
    }

    .cart-select-gift-placeholder {
        width: 100% !important;
        max-width: 450px;
        margin-top: 2rem;
    }

    .available-gift-item {
        padding: .5em 1rem .5rem 3rem !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #FAFAFA;
        box-shadow: none;
        font-weight: 300 ;
        font-size: 16px;
        color: #0E0E0E !important;
    }
    .icon-check-sign {
      &.active {
        color: #E2116D;
        position: absolute;
        left: 15px;
        top: 25px;
      }
    }
    .checkbox-selector.icon-check-empty {
      right: unset;
      left: 1rem;
      top: calc(50% - 10px);
      color: #E2116D;
    }

    .available-gift {
      margin-bottom: 2rem;
    }
}
