// settings
@import '../settings/settings';
// GRID
._flex {
    display: flex;
}

._flex-1 {
    flex: 1;
}

._flex-grow-1 {
    flex-grow: 1;
}

._flex-col {
    flex-direction: column;
}

._flex-col-r {
    flex-direction: column-reverse;
}

._flex-row {
    flex-direction: row;
}

._flex-row-r {
    flex-direction: row;
}

._flex-w-wrap {
    flex-wrap: wrap;
}

._flex-w-wrap-r {
    flex-wrap: wrap-reverse;
}

._flex-w-nowrap {
    flex-wrap: nowrap;
}

._justify-end {
    justify-content: flex-end;
}

._justify-start {
    justify-content: flex-start;
}

._justify-center {
    justify-content: center;
}

._justify-between {
    justify-content: space-between;
}

._justify-around {
    justify-content: space-around;
}

._align-end {
    align-items: flex-end
}

._align-start {
    align-items: flex-start;
}

._align-center {
    align-items: center;
}

._align-stretch {
    align-items: stretch;
}

._center {
    margin-left: auto;
    margin-right: auto;
}

._w-10 {
    width: 10%;
}

._w-15 {
    width: 15%;
}

._w-20 {
    width: 20%;
}

._w-25 {
    width: 25%;
}

._w-30 {
    width: 30%;
}

._w-33 {
    width: 33%;
}

._w-35 {
    width: 35%;
}

._w-40 {
    width: 40%;
}

._w-45 {
    width: 45%;
}

._w-50 {
    width: 50%;
}

._w-55 {
    width: 55%;
}

._w-60 {
    width: 60%;
}

._w-65 {
    width: 65%;
}

._w-70 {
    width: 70%;
}

._w-75 {
    width: 75%;
}

._w-80 {
    width: 80%;
}

._w-85 {
    width: 85%;
}

._w-90 {
    width: 90%;
}

._w-95 {
    width: 95%;
}

._w-100 {
    width: 100%;
}

._h-100 {
    height: 100%;
}

._w-auto {
    width: auto;
}

._h-auto {
    height: auto;
}

._w-third {
    width: calc(100% / 3);
}

._w-two-third {
    width: calc(100% * 2/3);
}

@media (max-width: 960px) {
    ._db-m {
        display: block;
    }
    ._dn-m {
        display: none;
    }
    ._row-m {
        padding-left: 15px;
        padding-right: 15px;
    }
    ._norow-m {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 961px) {
    ._db-l {
        display: block;
    }
    ._dn-l {
        display: none;
    }
    ._row-l {
        padding-left: 15px;
        padding-right: 15px;
    }
    ._norow-l {
        padding-left: 0;
        padding-right: 0;
    }
    ._flex-l {
        display: flex;
    }
    ._flex-1-l {
        flex-grow: 1;
    }
    ._flex-col-l {
        flex-direction: column;
    }
    ._flex-col-r-l {
        flex-direction: column-reverse;
    }
    ._flex-row-l {
        flex-direction: row;
    }
    ._flex-row-r-l {
        flex-direction: row;
    }
    ._flex-w-wrap-l {
        flex-wrap: wrap;
    }
    ._flex-w-wrap-r-l {
        flex-wrap: wrap-reverse;
    }
    ._flex-w-nowrap-l {
        flex-wrap: nowrap;
    }
    ._justify-end-l {
        justify-content: flex-end;
    }
    ._justify-start-l {
        justify-content: flex-start;
    }
    ._justify-center-l {
        justify-content: center;
    }
    ._justify-between-l {
        justify-content: space-between;
    }
    ._align-end-l {
        align-items: flex-end
    }
    ._align-start-l {
        align-items: flex-start;
    }
    ._align-center-l {
        align-items: center;
    }
    ._align-stretch-l {
        align-items: stretch;
    }
    ._w-10-l {
        width: 10%;
    }
    ._w-15-l {
        width: 15%;
    }
    ._w-20-l {
        width: 20%;
    }
    ._w-25-l {
        width: 25%;
    }
    ._w-30-l {
        width: 30%;
    }
    ._w-33-l {
        width: 33%;
    }
    ._w-40-l {
        width: 40%;
    }
    ._w-45-l {
        width: 45%;
    }
    ._w-50-l {
        width: 50%;
    }
    ._w-55-l {
        width: 55%;
    }
    ._w-60-l {
        width: 60%;
    }
    ._w-65-l {
        width: 65%;
    }
    ._w-70-l {
        width: 70%;
    }
    ._w-75-l {
        width: 75%;
    }
    ._w-80-l {
        width: 80%;
    }
    ._w-85-l {
        width: 85%;
    }
    ._w-90-l {
        width: 90%;
    }
    ._w-95-l {
        width: 95%;
    }
    ._w-100-l {
        width: 100%;
    }
    ._h-100-l {
        height: 100%;
    }
    ._w-auto-l {
        width: auto;
    }
    ._h-auto-l {
        height: auto;
    }
    ._w-third-l {
        width: calc(100% / 3);
    }
    ._w-two-third-l {
        width: calc(100% * 2/3);
    }
    ._tl-l {
        text-align: left;
    }
    ._tc-l {
        text-align: center;
    }
    ._tr-l {
        text-align: right;
    }
}

._container {
    width: 100%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    &-full {
        width: 100%;
    }
    @media (min-width: 576px) {
        //max-width: calc(576px - 30px);
        max-width: 100%;
    }
    @media (min-width: 768px) {
        //max-width: calc(768px - 30px);
        max-width: 100%;
    }
    @media (min-width: 992px) {
        max-width: calc(992px - 30px);
    }
    @media (min-width: 1200px) {
        max-width: calc(1200px - 30px);
    }
    @media (min-width: 1440px) {
        max-width: 1368px;
    }
}

._db {
    display: block;
}

._dn {
    display: none;
}

._relative {
    position: relative;
}

._absolute {
    position: absolute;
}

._fixed {
    position: fixed;
}

._pointer {
    cursor: pointer;
}

._t-0 {
    top: 0;
}

._r-0 {
    right: 0;
}

._b-0 {
    bottom: 0;
}

._l-0 {
    left: 0;
}

._fw-3 {
    font-weight: 300;
}

._fw-5 {
    font-weight: 500;
}

._fw-7 {
    font-weight: 700;
}

._tdn {
    text-decoration: none;
}

._tl {
    text-align: left;
}

._tc {
    text-align: center;
}

._tr {
    text-align: right;
}