._header {
  background: $header-bg;
  padding: 1rem;
  margin-bottom: 1rem;
  color: $color-base-dark;
  box-shadow: 0 .25rem .5rem rgba(62, 64, 69, 0.1);

  @media (min-width: 960px) {
    padding: 1.5625rem 1rem;
    margin-bottom: 1.5rem;
  }

  &-back {
    cursor: pointer;
  }

  &-logo {
    justify-content: center;
    align-items: center;

    img {
      width: 120px;
      height: auto;
    }
    @media (min-width: 960px) {
      display: flex;
      img {
        width: 170px;
      }
    }
  }

  &-secure {
    display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      height: 27px;
      width: auto;
      margin-right: .5rem;
      @media (min-width: 960px) {
        height: 35px;
      }
    }
    p {
      font-size: 1rem;
      //margin-top: 0.8rem;
      margin-bottom: 0;
      line-height: 1rem;
      strong {
        font-weight: 500;
      }
    }
  }
}
