
.identified-user-modal {
  min-height: 215px;
}

.modal {
  background: #ffffff !important;
  color: $color-base-dark !important;
  box-shadow: $shadow-3 !important;
  border: 1px solid $color-gray-light !important;
  border-radius: $border-medium !important;

  &.in {
    display: flex !important;
    justify-content: center;
    align-items: center;
    top: 30%;
  }

  &-body {
    padding: 1rem 4rem 1rem 1rem;
    width: 100%;
    z-index: 1;
    background: #ffffff;

    .default-modal-security {
      margin: 0;
      opacity: 1;
      .icon-spin {
        color: $primary-color;
      }
      .icon-lock {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 35px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
      }
    }
  }
  a {
    text-decoration: none;
  }
}

.guest-login-modal {
  .guest-login-title {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin: 0 0 1rem 0;
  }

  .guest-login-message {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 1rem 0;
  }

  .guest-login-actions {
    width: 100%;
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    #btn-guest-login-cancel-button,
    #btn-guest-login-button {
      @include btn-large;
      @include primary-btn;
      width: auto;
    }
  }
}

.identified-user-modal {
  .identified-user-hello {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .identified-user-message {
    font-size: 14px;
    font-weight: 400;
  }
  #btn-identified-user-button {
    @include btn-large;
    @include primary-btn;
    width: auto;
  }
}

.payment-confirmation-modal {
  .payment-confirmation-thanks {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .payment-confirmation-message {
    font-size: 14px;
    font-weight: 400;
  }
  #btn-identified-user-button {
    @include btn-large;
    @include primary-btn;
    width: auto;
  }
}

.masked-info-modal {
  display: block !important;

  .masked-info-hello {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .masked-info-message {
    p {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .masked-info-button {
    @include btn-large;
    @include primary-btn;
    width: auto;
  }
}

.unavailable-modal {
  .unavailable-modal-body {
    padding: 1rem !important;

    .unavailable-message {
      margin-bottom: 1rem;
      p {
        font-size: 18px;
        font-weight: 600;
      }
    }

    .unavailable-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      border: 0;

      li {
        width: 33%;
        display: flex;
        flex-direction: column;
        padding: 0;
        border: 2px solid $color-gray-light;
        border-radius: $border-medium;

        .span10,
        .span2 {
          width: 100%;
        }
        .description {
          display: none;
        }
        .product-name {
          padding: 8px;
          width: 100%;
          display: flex;
        }
      }
    }

    .unavailable-actions {
      display: flex;
      flex-direction: column;
      button.btn.btn-large.btn-block.unavailable-button {
        order: 2;
        @include btn-large;
        @include primary-btn-outline;
        margin-top: 1rem;
      }
      button.btn.btn-success.btn-large.btn-block.unavailable-button.pull-right {
        @include btn-large;
        @include primary-btn;
        order: 1;
      }
    }
  }
}

.payment-unauthorized-modal {
  .payment-unauthorized-hello {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .payment-unauthorized-message {
    p {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .payment-unauthorized-button {
    @include btn-large;
    @include primary-btn;
    width: auto;
  }
}

.recaptcha-modal {
  .security-validation-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .security-validation-description {
    font-size: 14px;
    font-weight: 400;
  }
  .security-validation-link {
    @include btn-large;
    @include primary-btn;
    width: auto;
    text-decoration: none;
  }
}
