.ph3-ns.w-70-ns.db.center {
    width: 100%;
    max-width: 1368px;
    margin-left: auto;
    margin-right: auto;
}

h2.fw3.f3.lh-copy.mb1 {
    margin: 2rem 0;
}

.cconf-alert {}

// Confirmation alert
.cconf-client-email {}

// Element that carries customer's email
.cconf-address {}

// Card with order address 
.cconf-product-table {}

// Table with product's orders
.cconf-product {}

// Table's line with order

.ph3-ns.w-70-ns.db.center>.cf>.cf {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 960px) {
        flex-direction: row;
    }

    @media (max-width: 959px) {
        flex-direction: column;

        &.mt4.mt0-ns.mb3 {
            justify-content: center;
            align-items: center;
        }
    }
}

.cf.pv4-ns {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid $color-gray-light;
    display: flex;
    flex-wrap: wrap;

    .fl-l.w-third-l.w-70-m.pr3-l.mb3.mb0-l {
        border: 1px solid $color-gray-light;
        border-radius: $border-medium;
        background-color: $color-base-dark;
        flex: 1;
        padding: 15px;

        @media (min-width: 960px) {
            width: calc(100% / 3 - 10px);
            margin-right: 15px;
        }

        @media (max-width: 959px) {
            width: 100%;
        }

        .br2.bg-near-white.pa3.lh-title {
            padding: 0;

            h4 {
                margin: 0 0 15px 0;
                border-bottom: 1px solid $color-gray-light;
                padding-bottom: 15px;
                line-height: 16px;

                span {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }

    .fr-l.w-100.w-two-thirds-l.pl2-l.mb4 {
        border: 1px solid $color-gray-light;
        border-radius: $border-medium;
        background-color: $color-base-dark;
        margin: 0;
        padding: 15px;

        @media (min-width: 960px) {
            width: calc(100% * 2/3 - 5px);
        }

        @media (max-width: 959px) {
            width: 100%;
        }
    }

    .bg-light-gray.ph3.pv2.w-50-l.w-70-m.mb3.fw5.br2 {
        background: #FFF;
        border: 1px solid $color-gray-light;
        width: 100%;
    }
}

.cconf-profile,
.cconf-payment {
    margin-right: 15px;

    @media (max-width: 959px) {
        margin-bottom: 15px;
    }
}


.cconf-product {
    &-table {
        tbody {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    border-radius: $border-medium;
    padding: 10px;
    background: #fff;
    border: 1px solid #a6a6a6;
    display: flex;
    margin-bottom: 15px;
    width: calc(50% - 8px);
}

.cconf-profile,
.cconf-payment,
.cconf-summary {
    padding: 15px;
    border: 1px solid $color-gray-light;
    margin-bottom: 0;
    flex: 1;
    border-radius: $border-medium;
    background-color: $color-base-dark;

    @media (min-width: 960px) {
        width: calc(100% / 3 - 10px);
    }

    @media (max-width: 959px) {
        width: 100%;
    }

    h3 {
        margin: 0 0 15px 0;
        border-bottom: 1px solid $color-gray-light;
        padding-bottom: 15px;
        line-height: 16px;
        font-size: 16px;
        font-weight: bold;
    }
}

.cconf-myorders-button { 
    @media (min-width: 960px) {
        margin: 0 20px 0 0;
    }

    @media (max-width: 959px) {
        margin: 0 0 20px 0;
    }
}

.cconf-continue-button {
    @media (max-width: 959px) {
        margin: 0;
    }
}

.cconf-myorders-button,
.cconf-continue-button {
    @include btn-large;
    @include primary-btn;
    display: inline-block;
    max-width: 200px;
}

.cconf-payment {

    .mb1.db {
        &:first-child {
            width: auto;
            display: inline-block;
        }
    } 
    .more-info {
        display: none;
    }
}