#payment-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    * {
        box-sizing: border-box;
    }

    @media (min-width: 960px) {
        width: calc(50% - 1em);
        margin-left: 2em;
        float: right;
    }

    @media (max-width: 959px) {
        width: 100%;
        margin: 2em 0 0;
    }

    .accordion-toggle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        color: $color-base-dark;
    }

    .icon-credit-card {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='#{$color-base-dark}' %3E%3Cpath d='M22 4H2v16h20V4zm-2 14H4v-6h16v6zm0-10H4V6h16v2z'/%3E%3C/svg%3E");
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 0;
        display: inline-block;

        +span {
            margin-left: 5px;
            color: $color-base-dark;
            font-size: 16px;
        }
    }

    .link-box-edit {
        @include btn-edit;
    }

    .step {
        height: 100%;
        padding: 10px;
        background: #fff;
        border: none;
        margin: 0;
        border: 1px solid $color-gray-lighter;
        border-radius: 0;

        opacity: .7;

        &.active {
            opacity: 1;
        }

        form.form-step {
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: row;

            &:before {
                content: "Voucher";
                color: #666;
                font-size: 16px;
                margin: 20px 0 10px;
                display: block;
            }

            @media (max-width: 959px) {
                flex-wrap: wrap !important;
            }

            .link-gift-card {
                position: relative;
                width: 100%;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-radius: $border-medium;

                @media (min-width: 960px) {
                    margin: 10px 0 20px;
                }

                @media (max-width: 959px) {
                    margin: 10px 0 10px;
                }

                a#show-gift-card-group {
                    @include btn-large;
                    @include primary-btn;
                    text-align: center;
                    margin: 10px 0;
                    text-decoration: none;
                    border-radius: $border-medium;
                    background: #ff519e;
                    color: #fff;

                    &:hover {
                      filter: brightness(0.9);
                      background: #ff519e;
                    }
                }
            }

            .gift-card-section {
                width: 100%;
                border: 1px solid $color-gray-dark;
                padding: 5px 15px;
                background-color: $color-base-white;
                border-radius: 0;

                @media (min-width: 960px) {
                    margin: 20px 0 20px;
                }

                @media (max-width: 959px) {
                    margin: 10px 0 10px;
                }

                .payment-discounts {
                    margin: 10px 0;
                    padding: 0;

                    .payment-discounts-list {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        padding-top: 15px;

                        h5 {
                            display: none;
                        }

                        table {
                            width: 100%;
                            max-width: 300px;

                            tr {
                                background: #e0e0e0;
                                padding: 5px 10px;
                                display: flex;
                                flex-direction: row;
                                border: 1px solid #bcb5b6;
                                border-radius: $border-medium;
                                align-items: center;
                                justify-content: space-between;

                                td.number {
                                    margin: 0 20px;
                                }

                                td.remove {
                                    a {
                                        width: 26px;
                                        height: 26px;
                                        font-size: 0;
                                        display: block;
                                        background-size: 18px;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        transition: $transition-200;
                                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='#{$red-accent}' height='24'%3E%3Cpath d='M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4l5.6 5.6L5 17.6 6.4 19l5.6-5.6 5.6 5.6 1.4-1.4-5.6-5.6L19 6.4z'/%3E%3C/svg%3E");
                                    }
                                }
                            }
                        }
                    }
                }

                p {
                    display: flex;
                    justify-content: center;

                    @media (min-width: 960px) {
                        flex-direction: row;
                    }

                    @media (max-width: 959px) {
                        flex-direction: column;
                        align-items: center;
                    }
                }

                label {
                    order: 1;
                    margin-right: 20px;
                    font-size: 14px;
                    width: 100%;
                    display: none;

                    @media (min-width: 960px) {
                        line-height: 46px;
                    }

                    @media (max-width: 959px) {
                        margin-bottom: 10px;
                        line-height: 20px;
                    }
                }

                input {
                    order: 2;
                    @include input-style;
                    line-height: 46px;
                    height: 46px;

                    @media (min-width: 960px) {
                        max-width: 100%;
                    }

                    @media (max-width: 959px) {
                        margin-bottom: 10px;
                        width: 100%;
                        max-width: 300px;
                    }
                }

                button {
                    order: 3;
                    @include btn-large;
                    @include primary-btn;

                    @media (min-width: 960px) {
                        max-width: 100px;
                    }

                    @media (max-width: 959px) {
                        width: 100%;
                        max-width: 300px;
                    }
                }
            }

            .payment-group {
                margin: 0;
                position: relative;
                z-index: 99999;
                padding-right: 0;

                &:before {
                    content: "Formas de pagamento";
                    color: #666;
                    font-size: 16px;
                    margin: 0 0 20px 0;
                    display: block;
                    height: 20px;
                }

                @media (min-width: 960px) {
                    width: 100%;
                    margin-right: -1px;
                    padding: 0;
                }

                @media (max-width: 959px) {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }

                .payment-group-list-btn {
                    width: calc(100% + 4px) !important;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: 0 -2px;
                }

                .payment-group-item {
                    border: 1px solid $color-gray-lighter;
                    background-color: $color-base-white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    flex: 1;
                    margin: 0 2px;
                    border-bottom: none;
                    overflow: hidden;
                    color: $color-base-dark;
                    min-height: 42px;

                    &#payment-group-creditCardPaymentGroup {
                        span:before {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 512 512'%3E%3Cdefs/%3E%3Cpath d='M469.3 175.5h-52.1V102a42.8 42.8 0 00-42.8-42.7H42.7A42.8 42.8 0 000 102v191.8a42.8 42.8 0 0042.7 42.7h52.1V410a42.8 42.8 0 0042.8 42.7h331.7A42.8 42.8 0 00512 410V218.2a42.8 42.8 0 00-42.7-42.7zM24.4 102a18.3 18.3 0 0118.3-18.4h331.7a18.3 18.3 0 0118.3 18.4v17H24.4zm70.4 116.3V312h-52a18.3 18.3 0 01-18.4-18.4V200H99a42.6 42.6 0 00-4 18.3zm-70.4-42.7v-32.2h368.3v32.1H135.1zm444.9 252.8H137.6a18.3 18.3 0 01-18.3-18.4V218.2A18.3 18.3 0 01136 200h268.8a11.7 11.7 0 001.4 0h63a18.3 18.3 0 0118.3 18.3V410a18.3 18.3 0 01-18.3 18.4z'/%3E%3Cpath d='M340.2 255.3a58.5 58.5 0 00-36.7 12.9 58.9 58.9 0 100 91.9 58.9 58.9 0 1036.7-104.8zM288 341.2a34.5 34.5 0 110-54.1 58.7 58.7 0 000 54.1zm52.3 7.4a34.5 34.5 0 1134.4-34.5 34.5 34.5 0 01-34.5 34.5z'/%3E%3C/svg%3E");
                        }
                    }

                    &#payment-group-customPrivate_401PaymentGroup {
                        span:before {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cdefs/%3E%3Cpath d='M15.78 2.87v6.84l-.03.08a.8.8 0 01-.43.47.82.82 0 01-.34.06H2.96l-.13-.02a.76.76 0 01-.61-.77V3.06l.01-.13A.8.8 0 013 2.26h7.16l-.04.02-.46.15c-.31.1-.61.23-.91.35-.27.11-.54.22-.81.35-.4.19-.78.42-1.13.68-.24.19-.46.4-.65.65-.25.31-.36.71-.3 1.11.04.31.2.6.44.8.19.15.41.26.64.33.33.1.67.14 1.01.14l.52-.02a8.08 8.08 0 002.25-.5l.51-.21c.23-.09.46-.19.68-.3l.05-.02-.02.36-.02.36.03-.03.48-.57c.04-.04.04-.05.09-.02l.66.27.06.02.01-.01-.44-.71.09-.11.09-.11.09-.11.09-.11.09-.11a.44.44 0 00.08-.11l-.05.01-.7.19c-.06.01-.06.01-.09-.04l-.4-.63-.02-.03-.01.01-.04.57-.01.22c0 .03-.02.05-.05.06l-.04.01-.67.17-.05.02v.01l.49.2-.01.01-.03.01a12.12 12.12 0 01-2.22.39c-.27.02-.54.02-.81-.01a2.05 2.05 0 01-.49-.11 1.32 1.32 0 01-.5-.29.87.87 0 01-.17-.92c.08-.15.17-.29.29-.4.15-.15.32-.29.5-.41.34-.22.7-.41 1.07-.57a13.89 13.89 0 013.56-.96c.21-.03.42-.04.64-.04h1.49l.19.02c.26.06.47.26.55.52a.1.1 0 01.02.06zM14.54 14.27l-.04-.1c.02 0 .04-.02.05-.03.22-.1.38-.32.42-.56.03-.15.04-.3.01-.46a.86.86 0 00-.62-.76 1.5 1.5 0 00-.51-.07h-.94l-.01.1v3.2l.01.08h.65V14.3h.3l.03.07.5 1.22c.01.05.06.1.11.08h.62a.46.46 0 00-.03-.1l-.55-1.3zm-.2-.85a.36.36 0 01-.34.34h-.42v-.92c.17 0 .34 0 .5.03.12.03.22.13.24.25.03.1.03.2.02.3zM17.59 13.5c0-.15-.02-.29-.05-.44a.9.9 0 00-.76-.74 2.3 2.3 0 00-.37-.03h-.81l-.09.01c-.02.15-.01 3.31.01 3.38H16.45c.12 0 .23 0 .34-.04a.89.89 0 00.73-.68 2 2 0 00.07-.49v-.97zm-.65.95l-.02.23c-.02.22-.2.4-.42.4h-.32v-2.2H16.48c.22 0 .41.15.43.37l.02.25.01.95zM5.13 14.95l-.61-2.55c-.02-.1-.02-.1-.12-.1h-.64c-.09 0-.1 0-.12.1l-.79 3.2-.02.1h.63l.18-.7h.88l.16.7c.21.01.42.01.62-.02l-.01-.05-.16-.68zm-1.37-.56l.3-1.3h.02l.3 1.3h-.62zM11.67 12.3h-.66c-.09 0-.09 0-.11.1l-.79 3.2-.02.1h.63l.18-.7h.88l.16.7h.63l-.81-3.39h-.09zm-.63 2.1c-.01-.08.23-1.13.3-1.34l.31 1.34h-.61zM9.79 14.45h-.64v.1l-.01.28a.3.3 0 01-.26.3h-.29a.3.3 0 01-.24-.23.76.76 0 01-.03-.2v-1.4c0-.09.01-.16.03-.23.02-.1.12-.2.23-.22a.88.88 0 01.28 0c.13.01.24.11.26.24l.03.21.01.1h.64v-.09a2.63 2.63 0 00-.06-.39.84.84 0 00-.64-.64 1.55 1.55 0 00-.71 0 .84.84 0 00-.67.61c-.04.14-.06.28-.06.43v1.3c0 .13.02.26.05.4.07.33.33.6.67.66.23.05.47.05.7 0a.85.85 0 00.66-.63 1.88 1.88 0 00.05-.6zM2.53 14.45a3.53 3.53 0 00-.65.01v.25c0 .07-.02.15-.04.22a.27.27 0 01-.21.2.86.86 0 01-.32 0 .29.29 0 01-.23-.23.76.76 0 01-.03-.2v-1.43c0-.08.01-.15.04-.22.03-.1.11-.18.22-.2.1-.02.2-.02.29 0 .13.01.23.11.26.24l.02.21.01.1h.65l.01-.05c0-.16-.03-.32-.07-.47a.87.87 0 00-.64-.59 1.7 1.7 0 00-.71 0 .86.86 0 00-.66.61c-.04.13-.06.27-.06.4v1.37c0 .11.02.22.04.33.06.33.3.6.62.68.25.07.51.07.76.01a.84.84 0 00.66-.64c.05-.18.07-.37.06-.56l-.02-.04zM6.3 15.1v-2.79a3.53 3.53 0 00-.65 0c-.02.12-.01 3.3.01 3.36.11.02 1.61.01 1.68 0v-.58l-1.04.01z'/%3E%3C/svg%3E");
                        }
                    }

                    &#payment-group-bankInvoicePaymentGroup {
                        span:before {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 512 512'%3E%3Cdefs/%3E%3Cpath d='M497.1 377a36.7 36.7 0 00-30.6-16.4H400V112.9a47.2 47.2 0 00-47-47.2h-296A47.2 47.2 0 009.6 113v259.4a99 99 0 0099 99h301.1a98.1 98.1 0 0090.6-60.2 36.2 36.2 0 00-3.3-34.1zM131 446.3h-22.3a74 74 0 01-74-74V112.9a22.1 22.1 0 0122.2-22.2h296A22.1 22.1 0 01375 113v247.6H246.3a47 47 0 00-45 33.3 73.7 73.7 0 01-70.3 52.5zm346.5-44.9a73.2 73.2 0 01-67.6 44.9H196.4a99 99 0 0028.8-45.4 22 22 0 0121-15.4h220.3a11.6 11.6 0 019.8 5.3 11 11 0 011 10.6z'/%3E%3Crect width='265.8' height='25' x='70.8' y='172.4'/%3E%3Crect width='185.2' height='25' x='70.8' y='228.9'/%3E%3Crect width='132.9' height='25' x='70.8' y='285.5'/%3E%3C/svg%3E");
                        }
                    }

                    span {
                        padding: 0;
                        line-height: 14px;
                        background: 0 0;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        position: relative;

                        @media (min-width: 960px) {
                            width: calc(100% - 25px);
                            margin-left: 25px;
                            flex-direction: row;
                        }

                        @media (max-width: 959px) {
                            width: 100%;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                        }

                        &::before {
                            content: '';
                            width: 20px;
                            height: 20px;
                            background-size: 20px;
                            background-repeat: no-repeat;

                            @media (min-width: 960px) {
                                position: absolute;
                                left: -25px;
                            }

                            @media (max-width: 959px) {
                                display: block;
                                margin-bottom: 5px;
                            }
                        }
                    }

                    @media (min-width: 960px) {
                        border-radius: 0;
                        padding: 10px;

                        &.active {
                            border-color: 1px solid $color-gray-lighter;
                            border-bottom-color: $color-base-white;
                            background-color: $color-base-white;
                            position: relative;
                            margin-bottom: -1px;

                            &:after {
                                content: "";
                                width: 100%;
                                height: 2px;
                                position: relative;
                                background-color: $color-base-white;
                                display: block;
                                position: absolute;
                                left: 0;
                                bottom: -2px;
                            }
                        }

                    }

                    @media (max-width: 959px) {
                        border-radius: 0;
                        padding:  5px;
                        flex: 1;

                        &.active {
                            border-color:   1px solid $color-gray-lighter;
                            border-bottom-color: $color-base-white;
                            background-color: $color-base-white;
                            position: relative;
                            margin-bottom: -1px;

                            &:after {
                                content: "";
                                width: 100%;
                                height: 2px;
                                position: relative;
                                background-color: $color-base-white;
                                display: block;
                                position: absolute;
                                left: 0;
                                bottom: -2px;
                            }
                        }

                    }

                }
            }

            .steps-view {
                background-color: white;
                border:  1px solid $color-gray-lighter;
                width: 100%;
                border-radius: 0;
            }
        }
    }
}
