#client-profile-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: 960px) {
        width: calc(50% - 1em);
        float: left;
    }

    @media (max-width: 959px) {
        width: 100%;
    }

    .accordion-toggle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        color: $color-base-dark;
    }

    .icon-user {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='#{$color-base-dark}' %3E%3Cpath d='M12 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0 2c-2.7 0-8 1.3-8 4v2h16v-2c0-2.7-5.3-4-8-4z'/%3E%3C/svg%3E");
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 0;
        display: inline-block;

        +span {
            margin-left: 5px;
            color: $color-base-dark;
            font-size: 16px;
        }
    }

    .link-box-edit {
        @include btn-edit;
    }

    .step {
        height: 100%;
        padding: 10px;
        background: #fff;
        border: none;
        margin: 0;
        border: 1px solid $color-gray-lighter;
        border-radius: 0;

        opacity: .7;

        &.active {
            opacity: 1;
        }

        &.filled {}

        .row-fluid {
            flex-direction: column;
        }

        .box-client-info-pf {
            margin: 0;
        }

        .state-inscription-box {
            margin: 15px 0 5px;
        }

        p {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            margin: 0 0 0 0;

            &.newsletter {
                margin-bottom: 20px !important;
            }

            label {
                display: block;
                margin: 6px 0;
                width: 100%;

                &.checkbox {
                    padding-left: 2px;
                    display: flex;
                    align-items: center;

                    input {
                        margin-right: 12px;
                    }
                }
            }

            input {
                &:not([type="checkbox"]) {
                    @include input-style;
                    border: 1px solid $color-gray-lighter;
                    max-width: 100%;
                    border-radius: $border-medium;
                }

                @include input-checkbox;
            }

            #go-to-shipping,
            #go-to-payment {
                @include btn-large;
                @include primary-btn;
                border-radius: $border-medium;
            }
        }

        #is-corporate-client {
            margin: 10px 0;
            display: block;
            font-size: 12px;
            text-align: left;
            text-decoration: underline;
            color: $blue-accent;
        }
    }
}