#shipping-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: 960px) {
    width: calc(50% - 1em);
    margin-left: 2em;
    float: right;
  }

  @media (max-width: 959px) {
    width: 100%;
    margin: 2em 0 0;
  }

  .accordion-toggle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    padding: 0;
    font-size: 16px;
    color: $color-base-dark;
  }

  .icon-home {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='#{$color-base-dark}' %3E%3Cpath d='M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z'/%3E%3C/svg%3E");
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    display: inline-block;
    margin-right: 5px;
  }

  .link-box-edit {
    @include btn-edit;
  }

  .pkpmodal-details-header-buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .step {
    height: auto;
    padding: 10px;
    background: #fff;
    border: none;
    margin: 0;
    opacity: 1;
    width: 100%;
    border: 1px solid $color-gray-lighter;
    border-radius: 0;

    @media (min-width: 960px) {
      margin-bottom: 30px;
    }

    &.active {
      opacity: 1;
    }

    p {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 0 0 0;
      align-items: center;

      &.input {
        input,
        select {
          border: 1px solid $color-gray-light !important;
          border-radius: $border-medium !important;
        }
      }

      label {
        display: block;
        margin: 6px 0;
      }
      .link-change-shipping,
      #btn-go-to-payment {
        @include btn-large;
        @include primary-btn;
      }

      &.ship-postalCode {
        label {
          order: 1;
        }
        input {
          order: 2;
          margin-left: 0;
        }
        small {
          order: 3;
        }
      }

      input {
        margin-left: 10px;

        &#ship-reference {
          width: 100%;
        }
      }

      .ship-receiverName {
        margin-top: 10px;
      }
    }
  }

  .shipping-container {
    label {
      width: 100%;
    }

    input {
      @include input-style;
      @include focus-reset;
      width: 100%;
      max-width: 100%;
      border-radius: $border-medium;

      &#ship-postalCode {
        max-width: 150px;
      }

      &#ship-number {
        margin-left: 0;
      }

      &#ship-complement {
        margin-left: 0;
      }

      &#ship-reference {
        margin-left: 0;
      }

      &#ship-street {
        margin-left: 0;
      }

      &#ship-receiverName {
        margin-left: 0;
      }

      &#ship-country {
        margin-left: 0;
      }

      &#ship-neighborhood {
        margin-left: 0;
      }

      &#ship-city {
        margin-left: 0;
      }
    }

    select {
      @include input-style;
      @include focus-reset;
    }

    .shp-alert {
      margin-top: 1rem;
    }

    p.input.ship-number {
      width: calc(50% - 10px);
      margin-right: 20px;
      position: relative;

      span.error {
        position: absolute;
        right: 0;
        width: 100%;
        top: 9px;
        text-align: right;
        margin: 0;
      }
    }

    p.input.ship-complement {
      width: calc(50% - 10px);
    }

    p.input.ship-city {
      width: calc(50% - 10px);
      margin-right: 20px;
      position: relative;
    }

    .vtex-omnishipping-1-x-address {
      > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (min-width: 960px) {
          p {
            width: calc(50% - 7px);

            &:nth-child(odd) {
              margin-right: 14px;
            }

            &:nth-child(even) {
              margin-right: 0;
            }
          }
        }

        @media (max-width: 959px) {
          p {
            width: 100% !important;
            margin-right: 0 !important;
          }
        }
      }
    }

    p.input.ship-state {
      width: calc(50% - 10px);

      select {
        @include input-style;
        @include focus-reset;
      }
    }
  }

  .vtex-omnishipping-1-x-ask {
    .btn.btn-success {
      @include btn-large;
      @include primary-btn;
    }
  }
  .vtex-omnishipping-1-x-shippingSectionTitle {
    margin-bottom: 1rem !important;
  }
  .vtex-omnishipping-1-x-leanShippingGroupList {
    border: 1px solid $color-gray-light !important;
    border-radius: $border-medium !important;
    .vtex-omnishipping-1-x-leanShippingOption {
      border: none;
      background: #fff;
    }
  }
  .vtex-omnishipping-1-x-deliveryChannelsWrapper {
    border: 1px solid $color-gray-light;
    box-shadow: none !important;
    border-radius: $border-medium;
    margin: 20px 0 !important;
    width: 100%;

    &.is-active {
    }

    .shipping-method-toggle {
      top: 0;
      height: calc(100% - 12px);
      margin: 6px 0;
      background: $color-base-dark;
      border: none;
      box-shadow: none !important;
      border-radius: $border-medium;

      &-delivery {
        left: 6px;
      }
      &-pickup {
        left: calc(50% - 3px);
      }
    }

    button {
      min-height: 48px;
    }
  }
  .vtex-pickup-points-modal-3-x-modalDetailsBackLnk {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vtex-omnishipping-1-x-PickupPointInfo {
    border: 1px solid $color-gray-light;
    background-color: $color-base-white;
    border-radius: $border-medium;
  }
  .vtex-omnishipping-1-x-pickupButton {
    @include btn-large;
    @include primary-btn;
  }
  .vtex-omnishipping-1-x-summaryChange {
    @include btn-large;
    @include primary-btn;
  }
  .vtex-omnishipping-1-x-pickupPointChange {
    @include btn-large;
    @include primary-btn;
  }
  .pkpmodal {
    box-shadow: $shadow-5;
    border-radius: $border-medium;
    border: none;
    overflow: hidden;
    z-index: 999999;
    height: 70vh;
    width: 100% !important;
    max-width: 600px;
    margin: 1rem !important;
    top: calc(50% - calc(35vh + 1rem));
    left: calc(50% - calc(300px + 1rem));

    @media (max-width: 959px) {
      width: calc(100vw - 2rem) !important;
      max-width: 100% !important;
      left: calc(50% - 50vw) !important;
    }

    &-backdrop {
      background: $color-base-dark;
      opacity: 0.5;
      z-index: 999998;
    }

    &-details {
      margin-bottom: 66px;
    }
  }
  .vtex-omnishipping-1-x-alert {
    margin-bottom: 1rem !important;
    border: 1px solid $color-gray-light;
  }
  .vtex-omnishipping-1-x-btnDelivery {
    @include btn-large;
    @include primary-btn;
  }
  .vtex-omnishipping-1-x-addressList {
    .vtex-omnishipping-1-x-addressItemOption {
      padding: 1rem;
      border: 1px solid $color-gray-light;
      background-color: $color-base-white;
      border-radius: $border-medium;
      box-shadow: none;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      .vtex-omnishipping-1-x-addressItemIcon {
        width: 22px;
        height: 22px;
        position: relative;
        svg {
          display: none;
        }
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: calc(50% - 8px);
          width: 22px;
          height: 22px;
          margin: -3px;
          border-radius: $border-medium;
          border: 1px solid $color-gray-light;
          background-color: #fff;
          transition: $transition-100;
          cursor: pointer;
          opacity: 1;
        }
      }
      &.vtex-omnishipping-1-x-active {
        .vtex-omnishipping-1-x-addressItemIcon {
          &:after {
            border: 2px solid $primary-color;
            background-color: $primary-color;
          }
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: calc(50% - 8px);
            width: 19px;
            height: 19px;
            background-size: 20px;
            margin: -1px;
            background: transparent;
            z-index: 1;
            border-radius: 0;
            background-image: url("data:image/svg+xml,%3Csvg height='512' width='512' fill='#{$color-base-white}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M450.6 68.6l-252 252-137.2-137L0 244.8l198.5 198.5L512 130z'/%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
            transition: $transition-100;
            cursor: pointer;
            background-size: 12px;
          }
        }
      }
    }
  }
}
