.pkpmodal {
  box-shadow: $shadow-5;
  border-radius: $border-medium;
  border: none;
  overflow: hidden;

  &-backdrop {
    background: $color-base-dark;
    opacity: 0.5;
  }

  &-details {
    margin-bottom: 66px;
  }
}

.shipping-method-toggle {
  top: 0;
  height: calc(100% - 6px);
  margin: 3px 0;
  background: #000;
  border: none;
  box-shadow: none !important;
  border-radius: 0;
}

.shipping-method-toggle-delivery {
  left: 3px;
}

.shipping-method-toggle-pickup {
  left: calc(50% - 3px);
}

.srp-toggle__current {
  background: #000;
  border: none !important;
  height: calc(100% - 12px) !important;
  margin: 6px 0;
  border-radius: $border-medium !important;
}

.srp-toggle__delivery {
  padding-left: 12px;
}
.srp-toggle__pickup {
  padding-right: 12px;
}

.srp-toggle__delivery,
.srp-toggle__pickup {
  color: #000 !important;
  position: relative;
  z-index: 1;
  line-height: 26px;

  &.blue {
    color: #fff !important;
    border-radius: $border-medium;
  }
}

.srp-toggle__wrapper {
  border-radius: $border-medium !important;
  box-shadow: none !important;
  border: 1px solid $color-gray-lighter;
  height: 45px;
}

.vtex-shipping-preview-0-x-frameDelivery {
  left: 6px;
}

.vtex-shipping-preview-0-x-framePickup {
  left: calc(50% - 6px);
}

.srp-result {
  width: 100%;
  text-align: center;
}

.srp-toggle {
  width: 100%;
  margin: 0 0 1rem 0;
}

.srp-container {
  // width: 100%;
  // max-width: 100%;



  @media (max-width: 959px) {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
  }
}

.srp-content {
  .black-70 {
    color: $color-base-dark;
  }
}

.button-unavailable-delivery-pickup-wrapper {
  width: 100%;

  #find-pickup-link {
    @include btn-large;
    @include primary-btn;
    text-transform: unset;
    border-radius: $border-medium;
  }
}

.srp-main-title {
  display: none;
}

.srp-description {
  max-width: 100% !important;
  text-align: left;
  margin: 0 0 5px 0;
  font-size: 14px;
}

.srp-data {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .shp-alert {
    margin-bottom: 10px;
  }

  .srp-pickup-empty {
    width: 100%;

    &__my-location {
      margin: 0 !important;

      .srp-pickup-my-location__button {
        @include btn-large;
        @include primary-btn;
      }
    }
  }

  .shp-open-options {
    margin: 10px 0 0 0;
    @include btn-large;
    @include primary-btn;
    border-radius: $border-medium;
  }
}

.srp-postal-code {
  width: 100%;

  form {
    width: 100%;

    span.error {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  #cart-shipping-calculate {
    @include btn-large;
    @include primary-btn;
    margin-left: 0;
    width: 100px;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#{$color-base-white}' %3E%3Cpath d='M12 4l-1.4 1.4 5.6 5.6H4v2h12.2l-5.6 5.6L12 20l8-8z'/%3E%3C/svg%3E");
    // font-size: 0px;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: 24px;
    position: absolute;
    right: 6px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: $border-medium;
  }

  small a {
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
    color: #0056b7;
  }
}

.ship-postalCode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  #ship-postalCode {
    @include input-reset;
    margin: 10px 0;
    width: 100%;
    height: 48px;
    position: relative;
    padding-right: 120px;
    top: -4px;
    background-position: calc(100% - 120px) 50% !important;
    border: 1px solid $color-gray-lighter;
    border-radius: $border-medium;
  }
}

.srp-pickup-info {
  text-align: center;

  .srp-items {
    strong {
      font-weight: normal;
    }
  }

  .srp-address-title {
    color: $color-base-dark;

    &:after {
      content: "Alterar Loja de Retirada";
      margin: 10px 0 0 0;
      display: block;
      font-size: 14px;
      padding: 0 15px;
      border: none;
      line-height: 34px;
      height: 34px;
      border-radius: $border-medium;
      text-shadow: none;
      color: $color-base-white;
      background-image: none;
      background-color: $color-base-dark;
      transition: $transition-100;
      transition: border 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), box-shadow 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), border-color 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
      box-shadow: 1px 1px 1px rgba(150, 195, 242, 0), -1px 1px 1px rgba(150, 195, 242, 0), 1px -1px 1px rgba(150, 195, 242, 0), -1px -1px 1px rgba(150, 195, 242, 0);
    }

    &:hover {
      &:after {
        background-color: darken($color-base-dark, 10%);
      }
    }

    &:focus {
      &:after {
        border-color: #7eabda !important;
        outline: 0 !important;
        box-shadow: 2px 2px 0 #96c3f2, -2px 2px 0 #96c3f2, 2px -2px 0 #96c3f2, -2px -2px 0 #96c3f2 !important;
      }
    }
  }
}
