.cart-template.mini-cart {
    display: flex;
    position: relative;

    @media (min-width: 960px) {
        width: 380px !important;
        margin-left: 2em;
    }

    @media (max-width: 959px) {
        width: 100%;
        margin: 2em 0 0;
    }

    .cart-fixed {
        height: 100%;
        padding: 10px;
        background: #fff;
        border: none;
        margin: 0;
        height: calc(100% - 20px) !important;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        @media (min-width: 960px) {
            width: calc(380px - 20px);
            max-height: 460px;
            top: 0;

            &.affix {
                width: calc(380px - 20px);
                margin-top: 2em;
            }
        }

        @media (max-width: 959px) {
            width: calc(100%)!important;

            &.affix {
                width: calc(100%)!important;
            }
        }

        h2 {
            padding: 0;
            background: none;
            border: none;
            display: flex;
            align-items: center;
            font-size: 16px;
            text-shadow: none;
            font-weight: 400;
            color: $color-base-dark;
            margin-bottom: 10px;

            @media (min-width: 960px) {
                order: 1;
            }

            @media (max-width: 959px) {
                order: 2;
            }

            &:before {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='#{$color-base-dark}' %3E%3Cpath d='M18 17H6v-2h12v2zm0-4H6v-2h12v2zm0-4H6V7h12v2zM3 22l1.5-1.5L6 22l1.5-1.5L9 22l1.5-1.5L12 22l1.5-1.5L15 22l1.5-1.5L18 22l1.5-1.5L21 22V2l-1.5 1.5L18 2l-1.5 1.5L15 2l-1.5 1.5L12 2l-1.5 1.5L9 2 7.5 3.5 6 2 4.5 3.5 3 2v20z'/%3E%3C/svg%3E");
                width: 25px;
                height: 25px;
                background-position: center;
                background-repeat: no-repeat;
                font-size: 0;
                display: inline-block;
                margin-right: 5px;
            }
        }

        .summary-cart-template-holder {
            display: block;
            height: auto;
            flex: 1;

            @media (min-width: 960px) {
                .cart {
                    max-height: 250px;
                }

                order: 2;
            }

            @media (max-width: 959px) {
                order: 3;
                overflow: unset;
            }

            .hproduct {

                .url {}

                .product-name {
                    font-size: 14px;
                    color: $color-base-dark;
                }

                .quantity {
                    border-radius: 0;
                    box-shadow: none !important;
                    border: 1px solid $color-base-dark;
                    top: 6px !important;
                    left: 0 !important;
                    padding: 2px 5px !important;
                    background: $color-base-white;
                    color: $color-base-dark;
                }

                .description {
                    font-size: 14px;
                    color: $color-base-dark;
                }
            }
        }

        #go-to-cart-button {
            order: 5;

            @media (min-width: 960px) {
                order: 5;
            }

            @media (max-width: 959px) {
                order: 6;
            }

            a {
                margin: 10px 0;
                display: block;
                font-size: 12px;
                text-align: center;
                text-decoration: underline;
                color: $blue-accent;
            }
        }

        .summary-template-holder {
            background: $color-base-white;
            border: none;

            @media (min-width: 960px) {
                order: 3;
            }

            @media (max-width: 959px) {
                order: 4;
            }

            tr {

                &:not(.hide) {
                    display: flex;
                    flex-direction: row;
                }

                &.Shipping {
                  display: flex !important;
                }
                td {
                    font-size: 14px;
                    color: $color-base-dark;

                    &.info {
                        text-align: left;
                        width: 100%;
                    }

                    &.monetary {
                        text-align: right;
                    }
                }
            }

        }

        .payment-confirmation-wrap {
            // display: flex !important;
            // justify-content: center;
            // align-items: flex-end;

            @media (min-width: 960px) {
                order: 4;
            }

            @media (max-width: 959px) {
                order: 1;
                border: none;
                padding: 0;
                margin-bottom: 2em;
            }

            .payment-submit-wrap {
                width: 100%;
                margin: 0;

                #payment-data-submit {
                    @include btn-large;
                    @include primary-btn;
                }
            }
        }
    }
}
