
._timeline {

    &-wrapper {
        position: relative;
        width: calc(100% - 100px);
        max-width: 680px;
        height: 4px;
        background: $color-gray-dark;
        margin: 40px auto 50px;
    }

    &-step {
        width: 22px;
        height: 22px;
        background-color: $color-base-white;
        border: 4px solid $color-gray-dark;
        position: absolute;
        margin-top: -10px;
        border-radius: 50%;
        z-index: 2;
        display: flex;
        justify-content: center;
        transition: all 300ms cubic-bezier(0.42, 0.15, 0.06, 0.66);

        &:nth-child(1) {
            left: -12px;
        }

        &:nth-child(2) {
            left: calc(100% / 3 - 12px);
        }

        &:nth-child(3) {
            left: calc(100% * 2/3 - 12px);
        }

        &:nth-child(4) {
            left: calc(100% - 12px);
        }

        &:after {
            content: '';
            width: 10px;
            height: 5px;
            border-bottom: 2px solid $color-base-white;
            border-left: 2px solid $color-base-white;
            position: absolute;
            left: 2px;
            top: 4px;
            transform: rotate(0);
            transition: all 300ms cubic-bezier(0.42, 0.15, 0.06, 0.66);
        }

        p {
            position: absolute;
            top: 100%;
            margin: 10px 0 0 0;
            white-space: nowrap;
            color: $color-base-dark;
        }
    }

    &-bar {
        position: absolute;
        height: 4px;
        background-color: $stz-green;
        z-index: 1;
        width: 0;
        transition: all 300ms cubic-bezier(0.42, 0.15, 0.06, 0.66);
    }
}

.__cart {
    ._timeline {
        &-cart  {
            border-color: $stz-green;
            box-shadow: $shadow-5;
        }
    }
}

.__shipping,
.__profile,
.__email {
    ._timeline {

        &-bar {
            width: calc(100% / 3);
        }

        &-cart, &-identify {
            border-color: $stz-green;
        }

        &-identify {
            box-shadow: $shadow-5;
        }

        &-cart {
            background-color: $stz-green;

            &:after {
                opacity: 1;
                transform: rotate(-45deg);
            }
        }

    }
}

.__payment {
    ._timeline {

        &-bar {
            width: calc(100% * 2/3);
        }

        &-cart,
        &-identify,
        &-payment {
            border-color: $stz-green;
        }

        &-payment {
            box-shadow: $shadow-5;
        }

        &-cart,
        &-identify {
            background-color: $stz-green;

            &:after {
                opacity: 1;
                transform: rotate(-45deg);
            }
        }
    }
}

.body-checkout-confirmation {
    ._timeline {

        &-bar {
            width: 100%;
        }

        &-cart,
        &-identify,
        &-payment,
        &-finished {
            background-color: $stz-green;
            border-color: $stz-green;

            &:after {
                opacity: 1;
                transform: rotate(-45deg);
            }
        }

        &-finished {
            box-shadow: $shadow-5;
        }
    }
}