.imageElement--purpose-image,
.imageElement--principles-image {
  max-width: 600px;
  /* width: 100%; */
}

@media (max-width: 900px) {
  .imageElement--principles-image,
  .imageElement--purpose-image {
    max-width: 100%;
  }
}
