.flexRowContent--aboutUsWrapper{
    flex-direction: column;
    padding: 0 1rem;
}
.flexRowContent--aboutUsWrapper :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
 width: 100% !important;
}
.flexRowContent--store-locator-container{
    flex-direction: column;
}

.flexColChild--store-locator-item :global(.vtex-rich-text-0-x-heading){
    margin: 10px;
    font-family: Omnes;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 3.5%;   
} 

.flexRowContent--talk-to-us{    
    height: 40vh;
} 

.flexRow--faq{
    padding: 1rem;
}

.flexRowContent--privacy-policy-wrapper,
.flexRowContent--shipping-delivery-wrapper,
.flexRowContent--payments-container,
.flexRowContent--how-to-buy{
    flex-direction: column;
    padding: 1rem;
}

.flexRow--returns{
    padding: 1rem;
}

.flexRowContent--purpose-container,
.flexRowContent--principles-container{
    margin-top: 2rem;
}

.flexCol--purpose-content-column{
    margin-left: 2rem;
    justify-content: center;
}

.flexCol--priciples-content-column{
    margin-right: 2rem;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 900px) {
    .flexRowContent--purpose-container,
    .flexRowContent--principles-container{
        flex-direction: column;
        margin-top: 0;
    }

    .flexColChild--purpose-image-container,
    .flexColChild--principles-image-container{
        margin: auto;
    }

    .flexCol--priciples-content-column{
        align-items: flex-start;
    }

    .flexCol--purpose-content-column{
        margin-left: 0;
    }
}
