.container--about-us-title{
    display: flex;
    justify-content: center;   
}

.strong--about-us-title,
.italic--about-us-text {
    color: #e2116d;
}

.container--principles-text{
    text-align: end;
}

.heading--about-us-title,
.heading--purpose-title,
.heading--principles-title{
margin-bottom: 0;
font-weight: 500;
letter-spacing: 3.5%;
line-height: 49.5px;
}

.heading--about-us-text,
.heading--purpose-text,
.heading--principles-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 26.4px;
    letter-spacing: 3.5%;
}
.container--store-locator-title{
    justify-content: flex-start;
}
.heading--store-locator-title{
    font-size: 2rem !important;
    color: #E2116D;
    font-weight: 600 !important;
}
.heading--store-locator-location-title{
    font-family: Omnes  !important;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    line-height: 49.5px !important;
    
}
.container--talk-to-us-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.paragraph--talk-to-us-content{
    text-align: center;
}
.link--talk-to-us-content,.heading--shipping-delivery-title{
    color: #E2116D;
    font-weight: 500;
}

.heading--returns-title,
.heading--faq-title,
.heading--privacy-policy-title,
.heading--payments-title,
.heading--how-to-buy-title{
font-family: Omnes ;
font-weight: 500 ;
font-size: 1.5rem ;
line-height: 49.5px ;
color: #E2116D;
}

.paragraph--returns-question,
.paragraph--faq-question,
.paragraph--how-to-buy-question{
    font-family: Omnes ;
    font-weight: 400 !important ;
    font-size: 1rem ;
    margin: 0;
    line-height: 2rem ;
}
.container--faq-answer{
    max-width: 600px;
}

.listItem--privacy-policy-content,.listItem--shipping-delivery-content{
    padding-bottom:.5rem ;
}

.strong--shipping-delivery-content,
.strong--privacy-policy-content,
.strong--payments-content{
    font-weight: 500;
}
.paragraph--shipping-delivery-content,
.listItem--shipping-delivery-content,
.paragraph--privacy-policy-content,
.listItem--privacy-policy-content,
.paragraph--payments-content{
    font-weight: 300;
}


@media (max-width: 900px) {
    .container--principles-text{
        text-align: start;
    }
}

