.countdownContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem 1.8rem;
  font-weight: 600;
  background-color: #1f1f1f;
}

.countdownColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 0.2rem;
}

.countdownNumber {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-family: Museo;
  color: #ffde7b;
}

.countdownDots {
  font-size: 36px;
  font-family: Museo;
  color: #fff;
}

.countdownText {
  font-family: Omnes;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

/*countdown position */
.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topLeft {
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
}

.bottomLeft {
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
}

.topRight {
  top: 7%;
  right: 50%;
  transform: translateX(50%);
}

.bottomRight {
  bottom: 7%;
  right: 50%;
  transform: translateX(50%);
}

/* MEDIAS QUERIES */
@media (min-width: 640px) {
  /*countdown position */
  .topLeft {
    top: 15%;
    left: 12%;
    transform: translateX(0);
  }

  .bottomLeft {
    bottom: 15%;
    left: 12%;
    transform: translateX(0);
  }

  .topRight {
    top: 15%;
    right: 12%;
    transform: translateX(0);
  }

  .bottomRight {
    bottom: 15%;
    right: 12%;
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .countdownContainer {
    padding: 0.9rem 1.3rem;
  }

  .countdownColumn {
    padding: 0 0.3rem;
  }

  .countdownDots,
  .countdownNumber {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (min-width: 1025px) {
  .countdownDots,
  .countdownNumber {
    font-size: 45px;
    line-height: 45px;
  }

  .countdownText {
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  /* .countdownContainer {
    padding: 0.9rem 1.5rem;
  } */

  .countdownDots,
  .countdownNumber {
    font-size: 55px;
    line-height: 55px;
  }

  .countdownText {
    font-size: 18px;
  }

  /*countdown position */
  .topLeft,
  .topRight {
    top: 18%;
  }

  .bottomLeft,
  .bottomRight {
    bottom: 18%;
  }
}
