/* HEADER */

.menuContainer--menuMain-Submenu-Marcas-Items {
  height: auto;
  flex-wrap: wrap;
  padding: 0 0.5rem;
}

.menuItem--menuMain-Submenu-Marcas-Items {
  width: fit-content;
}

.styledLinkContainer--menuMain-Submenu-Marcas-Items {
  margin: 0;
  padding-bottom: 0.5rem;
}

.menuContainer--category-menu-container {
  display: flex;
  justify-content: space-between;
  max-width: 1220px !important;
  height: 2.75rem;
  margin: 0 auto;
  padding: 0;
}

.menuContainer--category-menu-container .menuItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuContainer--category-menu-container .menuItem .styledLinkContainer {
  margin: 0;
  padding: 0;
}

.menuContainer--category-menu-container .menuItem .styledLink--menuMain:not(.styledLink--menuMain--highlight) {
  font-family: 'Omnes';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #0E0E0E;
}

.submenuWrapper .menuContainerNav .menuItem:last-child,
.menuContainerNav--footer-menu .menuItem:last-child {
  background-color: transparent;
  padding: 0px;
}

.menuContainer--category-menu-container .menuItem .styledLinkContent--menuMain-Submenu-Items {
  padding: 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: #5A5A5A !important;
}

.menuContainer--category-menu-container .menuItem .styledLinkContent--menuMain-Submenu-Items:hover {
  text-shadow: 0px 0px 1px #5A5A5A;
}

.submenuWrapper--menuMain-Submenu-left {
  top: 12px;
  margin: 0;
  left: -10px;
  border: none;
  right: inherit;
  padding: 0.5rem 2.5rem 2.5rem 1rem;
  box-shadow: 0px 3px 12px #0000001a;
}

.submenuWrapper--menuMain-Submenu-right {
  top: 12px;
  margin: 0;
  left: -10px;
  right: inherit;
  border: none;
  padding: 0.5rem 2.5rem 2.5rem 1rem;
  border-bottom: 2px solid #e1e1e1;
}

.submenuWrapper--menuMain-Submenu-marcas {
  top: 12px;
  margin: 0;
  left: -15px;
  right: inherit;
  border: none;
  background-color: #ffffff;
  border-bottom: 2px solid #e1e1e1;
}

.submenuWrapper--isOpen .submenu {
  justify-content: flex-start;
}

.submenuWrapper--menuMain-Submenu-marcas .styledLinkContent {
  font-size: 0.95rem !important;
  line-height: 1.95rem;
}

.submenuWrapper--isOpen .styledLinkContent {
  font-size: 1rem;
  line-height: 1.95rem;
}

.styledLinkContainer--menuMain,
.styledLinkContainer--menuMainMobile {
  margin: 0;
}

.styledLink--menuOutlet,
.styledLink--menuOutletMobile {
  margin: 0;
  color: #612b75;
  font-weight: bold;
}

/* MOBILE */
/* menu */
.menuItem--menuMainMobile {
  border-bottom: 1px solid #cfcece;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.styledLinkContainer--menuOutlet {
  margin: 0;
}

/*Submenu - Mobile */
.submenuAccordion--category-level {
  flex-direction: column;
  padding: 10px 0 0;
}

.menuContainerNav--menuMain-Submenu-Items {
  padding: 0 10px;
}

.menuItem--menuMain-Submenu-Items {
  padding: 4px 0;
}

.styledLinkContainer--menuMain-Submenu-Items {
  margin: 0;
  padding: 0;
}

.menuContainerNav--menuMainMobile {
  /* padding-top: 1.875rem; */
  padding-top: 0.75rem;
}

@media (min-width: 640px) {
  .menuContainer--menuMain-Submenu-Marcas-Items {
    height: 109vh;
  }
}

@media (min-width: 769px) {
  .menuContainer--menuMain-Submenu-Marcas-Items {
    height: 120vh;
  }
}

@media (min-width: 1025px) {
  .styledLinkContainer--menuMain-Submenu-Marcas-Items {
    margin-right: 1rem;
  }

  .menuContainer--menuMain-Submenu-Marcas-Items {
    width: 100vw;
    height: 80vh;
    padding: 0 1.5rem;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .menuContainerNav--menuMainMobile {
    height: 100%;
    overflow-y: auto;
  }

  .accordionIcon--menuMainMobile {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    transform: rotate(-135deg);
    transition: 235ms;
    position: relative;
    top: 4px
  }

  .accordionIcon--menuMainMobile--isOpen {
    transform: rotate(-45deg);
    top: 4px;
  }

  .menuContainer--menuMain-Submenu-Items {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menuItem--menuMain-Submenu-Items {
    width: 50%;
    margin-bottom: 6px;
  }

  .styledLinkContent--menuMain-Submenu-Items-all {
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

/*DESKTOP ONLY*/
@media (min-width: 767px) {
  .menuContainerNav--category-menu-container .menuItem .styledLink--menuMain--highlight {
    width: 120px;
    height: 54px;
    font-size: 0;
    display: block;
    background-size: 100% 100%;
    background-image: url("https://tdc0tj.myvtex.com/arquivos/flag-ofertas.gif");
  }  
}