/* HEADER */

.minicartWrapperContainer .openIconContainer {
  padding: 0;
  padding-right: 30px;
}

.minicartWrapperContainer .openIconContainer :global(.vtex-button__label) {
  padding: 0;
}

.cartIcon {
  width: 1.75rem;
  height: 2.375rem;
}

.minicartQuantityBadge {
  background-color: #C62761;
  color: #fff;
  width: 1rem;
  height: 1rem;
  top: 15px;
  right: -25px;
}

.closeIconContainer {
  /* justify-content: flex-end; */
  position: absolute;
  right: 0;
}

.closeIcon {
  width: 1rem;
  height: 1rem;
}

.closeIconButton {
  display: flex;
  align-items: center;
}

.minicartTitle {
  margin-top: .75rem;
  margin-bottom: .75rem;
  font-size: 1.375rem;
  font-weight: 500;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-productBrandName) {
  display: none;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-productName) {
  font-weight: 300;
}

.minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRowContent--listProductsContainer) {
  border-bottom: 1px solid #efefef;
}

.minicartIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.minicartIconContainer {
  background-image: url("data:image/svg+xml,%3Csvg width='29' height='38' viewBox='0 0 29 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.8161 9.21778V7.43798C21.827 6.45418 21.6471 5.47796 21.2867 4.56583C20.9263 3.6537 20.3926 2.82379 19.7166 2.12417C19.0405 1.42455 18.2356 0.869118 17.3483 0.49004C16.461 0.110962 15.509 -0.0842285 14.5475 -0.0842285C13.586 -0.0842285 12.634 0.110962 11.7467 0.49004C10.8594 0.869118 10.0545 1.42455 9.37843 2.12417C8.70239 2.82379 8.16872 3.6537 7.80832 4.56583C7.44793 5.47796 7.26796 6.45418 7.27885 7.43798V9.21778H0.569336V38H28.5257V9.21778H21.8161ZM8.39804 7.43798C8.38801 6.60514 8.53967 5.77855 8.84421 5.00614C9.14875 4.23373 9.60012 3.53087 10.1721 2.9383C10.7442 2.34574 11.4255 1.87527 12.1765 1.55416C12.9276 1.23306 13.7335 1.06771 14.5475 1.06771C15.3615 1.06771 16.1674 1.23306 16.9184 1.55416C17.6695 1.87527 18.3508 2.34574 18.9228 2.9383C19.4949 3.53087 19.9462 4.23373 20.2508 5.00614C20.5553 5.77855 20.707 6.60514 20.697 7.43798V9.21778H8.39804V7.43798ZM27.4065 36.8548H1.68852V10.363H7.27885V17.6005H8.39804V10.363H20.697V17.6005H21.8161V10.363H27.4065V36.8548Z' fill='%230E0E0E'/%3E%3C/svg%3E");
  width: 30px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.minicartIconContainer :global(.vtex-store-icons-0-x-cartIcon) {
  display: none;
}
