/* HEADER */
.closeIconContainer {
  justify-content: flex-end;
}

.drawerContent--menuMainMobile {
  overflow-y: visible;
}

.childrenContainer--menuMainMobile {
  height: calc(100vh - 140px);
  justify-content: space-between;
  overflow: hidden;
}

.overlay--menuMainMobile--visible {
  background-color: #00000036;
}

.openIconContainer--menuMainMobile {
  padding: 0;
}

.closeIconButton {
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}

.childrenContainer--menuMainMobile {
  flex-direction: column;
  padding: 0;
}

@media (max-width: 360px) {
  .opened--menuMainMobile .closeIconButton {
    width: 45px;
    right: -38px;
  }
}

@media (min-width: 640px) {
  .drawer--menuMainMobile {
    max-width: unset !important;
  }
}

