/* HEADER */
.link--storeLocator {
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-right: 45px;
  text-decoration: none;
  color: #050505;
}

.link--wishlist-header-desktop {
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #050505;
  margin-right: 40px;
}

.link--storeLocator::before {
  content: "";
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 23px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='30' viewBox='0 0 24 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9804 30C11.905 30.0001 11.8305 29.9836 11.762 29.9518C11.6936 29.9201 11.6328 29.8737 11.584 29.816L2.47613 19.0763C1.73884 18.2393 1.15687 17.2764 0.757804 16.2334C-0.620399 12.5744 -0.0993517 8.43836 2.15128 5.16601C4.41237 1.88398 7.99538 0 11.9804 0C15.9655 0 19.5493 1.88398 21.8104 5.16601C24.0618 8.43594 24.5813 12.5736 23.2022 16.2342C22.8412 17.2125 22.2639 18.1674 21.4847 19.0739L12.3825 29.8152C12.3331 29.8737 12.2715 29.9206 12.202 29.9526C12.1325 29.9845 12.0569 30.0007 11.9804 30ZM11.9804 1.04935C8.34194 1.04935 5.07092 2.76866 3.00764 5.76656C0.944351 8.76446 0.476374 12.5276 1.73477 15.8669C2.0564 16.7314 2.56941 17.5822 3.26735 18.395L11.9804 28.6689L20.6951 18.395C21.3939 17.5822 21.9085 16.733 22.2269 15.8701C23.4853 12.5292 23.0093 8.75155 20.9532 5.76414C18.8972 2.77673 15.6197 1.04935 11.9804 1.04935Z' fill='%230E0E0E'/%3E%3Cpath d='M11.9809 17.5159C10.8911 17.5161 9.82584 17.1919 8.91969 16.5842C8.01354 15.9766 7.30723 15.1128 6.8901 14.1022C6.47297 13.0916 6.36375 11.9795 6.57624 10.9066C6.78874 9.83363 7.31342 8.84805 8.08391 8.07446C8.85441 7.30088 9.83613 6.77403 10.9049 6.56056C11.9737 6.34708 13.0815 6.45657 14.0883 6.87516C15.0951 7.29375 15.9556 8.00266 16.5611 8.91222C17.1665 9.82178 17.4897 10.8911 17.4897 11.9851C17.4882 13.4514 16.9073 14.8572 15.8746 15.8941C14.8418 16.9309 13.4415 17.5142 11.9809 17.5159ZM11.9809 7.5068C11.0974 7.50664 10.2337 7.7695 9.49901 8.26214C8.76434 8.75478 8.19171 9.45507 7.85354 10.2744C7.51536 11.0938 7.42684 11.9954 7.59916 12.8653C7.77149 13.7352 8.19691 14.5342 8.82164 15.1614C9.44637 15.7885 10.2423 16.2156 11.1089 16.3885C11.9754 16.5615 12.8736 16.4727 13.6898 16.1332C14.506 15.7937 15.2036 15.2189 15.6943 14.4814C16.1851 13.7439 16.4469 12.8768 16.4468 11.9899C16.4455 10.8013 15.9746 9.66176 15.1373 8.82129C14.3001 7.98082 13.1649 7.50808 11.9809 7.5068Z' fill='%230E0E0E'/%3E%3C/svg%3E");
}

.link--wishlist-header-desktop::before {
  content: "";
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='33' height='29' viewBox='0 0 33 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4866 28.1719C16.3965 28.1721 16.3087 28.1423 16.2355 28.0866C15.8099 27.7678 5.77576 20.1496 2.10083 13.7674L2.08659 13.7419C0.95841 11.7465 0.595175 9.36604 1.07213 7.0936C1.54909 4.82116 2.82968 2.83091 4.64864 1.53514C6.4676 0.239365 8.68553 -0.262634 10.843 0.133131C13.0004 0.528895 14.9321 1.79209 16.2378 3.66106L16.5068 4.0452L16.7751 3.66106C18.0807 1.79156 20.0126 0.527933 22.1704 0.132032C24.3282 -0.26387 26.5465 0.238301 28.3657 1.53448C30.1848 2.83067 31.4654 4.8215 31.9419 7.09444C32.4185 9.36739 32.0545 11.7482 30.9255 13.7435L30.912 13.7674C27.2311 20.1647 17.2045 27.7662 16.7781 28.0866C16.7049 28.1424 16.6171 28.1722 16.527 28.1719H16.4866ZM2.84196 13.2773C2.84721 13.2877 2.8532 13.298 2.8592 13.3084C5.98333 18.7142 13.9439 25.1538 16.309 26.9987L16.5068 27.1526L16.7046 26.9987C19.0696 25.1538 27.0302 18.7142 30.1559 13.3108L30.1709 13.2837C30.6935 12.3552 31.0369 11.3253 31.1809 10.254C31.3249 9.18279 31.2666 8.09177 31.0095 7.04476C30.7524 5.99775 30.3016 5.01576 29.6834 4.15621C29.0653 3.29665 28.2922 2.57679 27.4094 2.0387C26.5266 1.50061 25.5518 1.1551 24.542 1.02236C23.5322 0.88962 22.5076 0.972323 21.5282 1.26563C20.5488 1.55894 19.6342 2.05696 18.8379 2.73059C18.0416 3.40422 17.3795 4.23992 16.8905 5.18885C16.8531 5.26225 16.7978 5.32355 16.7304 5.36627C16.663 5.40899 16.586 5.43154 16.5075 5.43154C16.4291 5.43154 16.3521 5.40899 16.2847 5.36627C16.2172 5.32355 16.1619 5.26225 16.1246 5.18885C15.6378 4.23606 14.9769 3.3963 14.1808 2.71887C13.3847 2.04143 12.4693 1.53997 11.4884 1.24393C10.5076 0.947889 9.48096 0.863228 8.46891 0.994919C7.45686 1.12661 6.47974 1.472 5.59492 2.01081C4.7101 2.54962 3.93541 3.27099 3.31632 4.13258C2.69724 4.99417 2.24623 5.97861 1.98979 7.02811C1.73334 8.07761 1.67663 9.17102 1.82296 10.2442C1.9693 11.3173 2.31575 12.3485 2.84196 13.2773Z' fill='%230E0E0E'/%3E%3C/svg%3E");
}

.label--wishlist-header-desktop {
  font-size: 0;
}

.link--top-bar {
  text-decoration: none;
  color: #fff;
}

.label--top-bar {
  font-size: 14px;
}
