/* HEADER */
.paragraph--menuMainMobile-triggerTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	color: #232323;
	font-size: 12px;
	line-height: 44px;
	text-transform: uppercase;
}

.container--menuMainMobile-header-myAccount {
	display: flex;
	justify-content: flex-start;
	padding-left: 1rem;
}

.paragraph--menuMainMobile-header-wishlist {
	margin: 0;
	padding: 0;
}

.link--menuMainMobile-header-wishlist,
.link--menuMainMobile-header-locator {
	text-decoration: none;
	color: #5A5A5A;
}

.link--menuMainMobile-header-wishlist::before {
	content: "";
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.398' height='24' viewBox='0 0 26.398 24'%3E%3Cg id='Camada_2' data-name='Camada 2' transform='translate(0 0)'%3E%3Cg id='Camada_1' data-name='Camada 1' transform='translate(0 0)'%3E%3Cpath id='Caminho_31' data-name='Caminho 31' d='M12.876,23.795C12.357,23.458,0,15.507,0,8.312,0,3.825,2.03.758,5.434.115A6.821,6.821,0,0,1,6.681,0a7.233,7.233,0,0,1,6.67,4.4.59.59,0,0,1,0,.458.6.6,0,0,1-.329.317.609.609,0,0,1-.222.042.593.593,0,0,1-.562-.382A6,6,0,0,0,6.715,1.185a5.694,5.694,0,0,0-1.053.1C2.825,1.82,1.2,4.372,1.2,8.3c0,6.018,10.489,13.258,11.685,14.064l.315.211.315-.211C14.71,21.562,25.2,14.322,25.2,8.312c0-3.171-1.084-5.487-3.047-6.529a5.268,5.268,0,0,0-2.452-.59,6.229,6.229,0,0,0-3.46,1.087.6.6,0,0,1-.674-.991A7.439,7.439,0,0,1,19.709,0a6.459,6.459,0,0,1,3,.722C24.09,1.454,26.4,3.409,26.4,8.312c0,7.2-12.357,15.145-12.876,15.482L13.2,24Z' transform='translate(0 0)' fill='%23161616'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	width: 23px;
	height: 28px;
	vertical-align: middle;
	margin-right: .5rem;
}

.link--menuMainMobile-header-locator::before {
	content: "";
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37.05' height='50.149' viewBox='0 0 37.05 50.149'%3E%3Cg id='pin_2_' data-name='pin (2)' transform='translate(-48.08)'%3E%3Cg id='Grupo_172' data-name='Grupo 172' transform='translate(48.08)'%3E%3Cg id='Grupo_171' data-name='Grupo 171' transform='translate(0)'%3E%3Cpath id='Caminho_42' data-name='Caminho 42' d='M66.605,0A18.546,18.546,0,0,0,48.08,18.525a21.373,21.373,0,0,0,1.571,7.132,29.875,29.875,0,0,0,2.141,4l12.7,19.246a2.416,2.416,0,0,0,4.222,0l12.7-19.247a29.751,29.751,0,0,0,2.141-4,21.368,21.368,0,0,0,1.57-7.132A18.546,18.546,0,0,0,66.605,0ZM81.551,24.812A27.376,27.376,0,0,1,79.6,28.462L66.9,47.709c-.251.38-.33.38-.581,0l-12.7-19.247a27.385,27.385,0,0,1-1.952-3.652,19.4,19.4,0,0,1-1.4-6.286,16.346,16.346,0,0,1,32.692,0A19.417,19.417,0,0,1,81.551,24.812Z' transform='translate(-48.08)'/%3E%3Cpath id='Caminho_43' data-name='Caminho 43' d='M121.887,64.008a9.807,9.807,0,1,0,9.807,9.807A9.819,9.819,0,0,0,121.887,64.008Zm0,17.436a7.628,7.628,0,1,1,7.628-7.628A7.637,7.637,0,0,1,121.887,81.444Z' transform='translate(-103.362 -53.107)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	width: 23px;
	height: 26px;
	vertical-align: middle;
	margin-right: .5rem;
}

.container--menuMainMobile-header-locator{
	justify-content: center;
	align-items: center;
	height: 100%;
}

.container--menuMainMobile-header-wishlist{
	justify-content: center;
	align-items: center;
	border-right: 1px solid #e8e8e8;
	height: 100%;
}
