/* HEADER */

/* GERAL */
.notificationBarContainer--notification-bar-home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #632a6f;
  color: #fff;
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 0.975rem;
  text-decoration: none;
  height: 2rem;
  padding: 0.5rem;
}

/* MOBILE */
.logoContainer--logo-mobile {
  padding: 0;
}

.notificationContent--notification-bar-home {
  font-size: 0.75rem;
  font-weight: 300;
  text-shadow: 4px 3px 6px #00000029;
}

/* DESKTOP */
.logoContainer--logo-desktop {
  padding: 0.75rem 0;
}

.logoLink--logo-desktop {
  text-align: center;
}

.logoLink--logo-desktop :global(.vtex-store-components-3-x-sizeMobile) {
  padding: 0;
}

.searchBarContainer {
  margin-right: 0.5rem;
}

.searchBarInnerContainer--search-bar-desktop
  :global(.vtex-input-prefix__group) {
  border: none;
  border: 1px solid #b7b5b5;
  border-radius: 0.25rem;
  width: 17rem;
}

.searchBarInnerContainer--search-bar-desktop
  :global(.vtex-styleguide-9-x-input),
.searchBarInnerContainer--search-bar-desktop :global(.vtex-input__suffix),
.searchBarIcon--search-bar-desktop {
  padding: 0 0 0 1rem;
  color: #0e0e0e;
  font-family: 'Omnes';
  font-size: 0.875rem;
}

.searchIcon--search-bar-desktop {
  width: 25px;
  height: 25px;
}

.logoContainer--logo-desktop {
  padding: 0;
}

/* MEDIAS QUERIES */
@media (min-width: 640px) {
  .notificationContent--notification-bar-home {
    font-size: 0.9375rem;
  }
}

@media (min-width: 1026px) {
  .notificationBarContainer--notification-bar-home {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

@media (min-width: 1140px) {
  .searchBarInnerContainer--search-bar-desktop
    :global(.vtex-input-prefix__group) {
    width: 25rem;
  }
}

@media (min-width: 1200px) {
  .searchBarInnerContainer--search-bar-desktop
    :global(.vtex-input-prefix__group) {
    width: 28rem;
  }
}

.logoImage--logo-desktop {
  max-width: none;
  width: 174px;
}

.logoImage--logo-mobile {
  width: 151px;
}
