/* HEADER */

.container {
  width: 100%;
  padding: 0.5rem 0 0.5rem 2rem;
}

.container :global(.vtex-button) {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  background: none transparent;
  margin-right: 30px;
}

.container :global(.vtex-button__label) {
  width: 100%;
  padding: 0;
}


.container :global(.vtex-login-2-x-label) {
  display: block;
  padding: .2rem !important;
  width: max-content;
  margin-left: .25rem;
  text-align: start;
  color: #632A6F;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.144rem;
  text-transform: none;
}

.container :global(.vtex-login-2-x-label)::after {
  content: "Faça seu Login";
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.113rem;
}

.inputContainer :global(.vtex-styleguide-9-x-input) {
  font-family: 'Omnes';
}

.profile {
  display: block;
  padding: .2rem !important;
  max-width: 13rem;
  width: max-content;
  margin-left: .25rem;
  text-align: start;
  color: #632A6F;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.144rem;
  text-transform: none;
}

.profile::after {
  content: "Ver minha conta";
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.113rem;
}

.profileIcon {
  height: 1.875rem;
  width: 1.875rem;
}

@media (min-width: 1026px) {
  .container {
    margin-right: 2rem;
    padding: 0;
  }

  .container :global(.vtex-login-2-x-label) {
    padding: 0 !important;
    margin: 0;
    color: #050505;
    font-size: 0.875rem;
    font-weight: 400;
  }

  .container :global(.vtex-login-2-x-label)::after {
    content: "Minha conta";
    font-weight: 600;
  }

  .profile {
    max-width: 6rem;
    padding: 0 !important;
    margin: 0;
    color: #050505;
    font-size: 0.875rem;
    font-weight: 400;
  }

  .profile::after {
    content: "Minha conta";
    font-weight: 600;
  }
}

/*
.container :global(.vtex-button) {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	border-radius: 0;
	outline: none;
	width: 21px;
	background: none transparent;
}

.container :global(.vtex-button):hover {
	background: none transparent;
}

.container :global(.vtex-button__label) {
	padding: 0 !important;
}

.label {
	padding: 0;
	font-size: 0;
}

.container :global(.vtex-button)::before {
	content: "";
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 21px;
	height: 26px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.235' height='26.5' viewBox='0 0 22.235 26.5'%3E%3Cg id='Sapatos_Femininos_Bolsas_e_Acessórios___Corello-4' data-name='Sapatos Femininos, Bolsas e Acessórios _ Corello-4' transform='translate(0.511 0.5)'%3E%3Ccircle id='Elipse_59' data-name='Elipse 59' cx='7.658' cy='7.658' r='7.658' transform='translate(2.956 0)' fill='none' stroke='%231d1d1d' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Caminho_26' data-name='Caminho 26' d='M52.56,75.65s10.611-.082,10.611,9.892v.79' transform='translate(-41.947 -60.332)' fill='none' stroke='%231d1d1d' stroke-miterlimit='10' stroke-width='1' fill-rule='evenodd'/%3E%3Cpath id='Caminho_27' data-name='Caminho 27' d='M5.793,79.45a8.869,8.869,0,0,0-3.1,2.295A10.153,10.153,0,0,0,.5,88.559v.8' transform='translate(-0.5 -63.359)' fill='none' stroke='%231d1d1d' stroke-miterlimit='10' stroke-width='1' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.profile {
	display: none;
}

.optionsList :global(.vtex-button) {
	border: 2px solid #231F20;
	color: #231F20;
	border-radius: 0;
	background: none;
}

.optionsList :global(.vtex-button):hover {
	background-color: #F3F3F3;
}

.optionsList :global(.vtex-button__label) {
	color: #231F20;
	font-family: SweetSansPro;
	font-weight: normal;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sendButton :global(.vtex-button) {
	border: 0px;
	border-radius: 0;
	background: none;
	background-color: #231F20;
}

.sendButton :global(.vtex-button):hover {
	background-color: #484042;
}

.sendButton :global(.vtex-button__label) {
	color: #FFF;
	font-family: SweetSansPro;
	font-weight: normal;
	text-transform: uppercase;
}

.backButton :global(.vtex-button) {
	border: 0px;
	border-radius: 0;
	background: none;
}

.backButton :global(.vtex-button):hover {
	background: none;
}

.backButton :global(.vtex-button__label) {
	color: #231F20;
	font-family: SweetSansPro;
	font-weight: normal;
	text-transform: uppercase;

}
.backButton :global(.vtex-button):hover :global(.vtex-button__label){
	text-decoration: underline;
	color: #AB1A1C;
}
.inputContainer :global(.vtex-input-prefix__group) {
	border-radius: 0;
	border: 0px;
}

.inputContainer :global(.vtex-styleguide-9-x-input) {
	border-radius: 0;
	border: 1px solid #000000;
}

.forgotPasswordLink,
.dontHaveAccount,
.button {
	color: #231F20;
}
.forgotPasswordLink:hover,
.dontHaveAccount:hover,
.button:hover {
	text-decoration: underline;
	color: #AB1A1C;
	opacity: 1;
}

.accountOptions :global(.vtex-button) {
	border: 0px;
	border-radius: 0;
	background: none;
}

.accountOptions :global(.vtex-button):hover {
	background: none;
}

.accountOptions :global(.vtex-button__label) {
	color: #231F20;
	font-family: SweetSansPro;
	font-weight: normal;
	text-transform: uppercase;

}
.accountOptions :global(.vtex-button):hover :global(.vtex-button__label){
	text-decoration: underline;
	color: #AB1A1C;
} */
