/* HEADER */
.freigthScaleContainer {
  box-shadow: none;
  padding: .8rem 1.5rem;
}

.sliderContainer {
  background-color: #ffffff;
  border: 1px solid #e2d6d1;
  height: 5px;
  margin: 0;
  border-radius: 0;
}

.text2 {
  padding-left: 0.2rem;
  font-weight: 500;
}

.text4 {
  font-weight: 500;
}

.barContainer {
  border-radius: 0;
  background: #c62761;
  height: 5px;
}
/* 
.text4 ~ div > div {
  background: #20b71d;
}  */