/* HEADER */
/* DESKTOP */

.flexRow--header-desktop-container {
  max-width: 1220px !important;
  margin: 0 auto;
  padding: 10px 0;
}

.flexRow--menu-itens-container {
  background-color: #fff;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 5px 0px;
}

.flexRow--header-desktop-container :global(.vtex-store-components-3-x-container) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.flexRowContent--header-desktop-container {
  align-items: center;
  justify-content: space-between;
}

.flexRowContent--menu-desktop-container {
  justify-content: space-between;
  align-items: center;
}

.flexRowContent--right-action-container {
  justify-content: flex-end;
  gap: 1rem;
}

.flexRowContent--right-action-container :global(.vtex-store-components-3-x-searchBarContainer) {
  margin-right: 2rem;
}

.flexRow--logo-desktop-container {
  padding: 0 0.5rem;
}

.flexRow--notification-bar-container {
  background: linear-gradient(to right, #9F7DAB 0%, #9F7DAB 20%, #63296E 20%, #63296E 40%, #E2116D 40%, #E2116D 60%, #E9C3A5 60%, #E9C3A5 80%, #F58472 80%, #F58472 100%);
  background-repeat: repeat;
  background-size: auto;
  background-size: 100% 10px;
  background-repeat: no-repeat;
  height: 10px;
}

.flexRowContent--notification-bar-container {
  text-align: center;
}

/* MOBILE */
.flexRowContent--main-header-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 1.25rem 0 1rem 0;
  background-color: #fff;
}

.flexRowContent--boxHeaderLeft {
  display: flex;
  align-items: center;
}

.flexRow--boxHeaderRight {
  display: flex;
  align-items: center;
}

.flexRowContent--boxHeaderRight {
  display: flex;
  justify-content: flex-end;
}

.flexRowContent--boxHeaderRight :global(.vtex-button__label) {
  padding: 0;
}

.flexRow--menuMainMobile-links {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
}

.flexRowContent--menuMainMobile-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flexRowContent--menuMainMobile-links .stretchChildrenWidth {
  width: 100% !important;
  justify-content: flex-start;
}

.flexRowContent--notification-bar-container .stretchChildrenWidth:first-child {
  display: none;
}

@media (min-width: 640px) {
  .flexRowContent--notification-bar-container .stretchChildrenWidth:first-child {
    display: flex;
    align-items: center;
    width: fit-content !important;
    padding: 0 10%;
    background-color: #de0065;
  }

  .flexRowContent--notification-bar-container .stretchChildrenWidth:last-child {
    flex-grow: 1;
  }

  .flexRowContent--tip-bar-beauty-img .stretchChildrenWidth {
    padding: 0 !important;
  }
}

@media (max-width: 1025px) {
  .flexRow--header-desktop-container {
    display: none;
  }
}

@media (min-width: 1026px) {
  .flexRowContent--notification-bar-container .stretchChildrenWidth:first-child {
    width: 14rem !important;
    padding: 0;
  }

  .flexRowContent--tip-bar-beauty-img {
    min-width: 110px;
  }
}

@media (min-width: 1400px) {
  .flexRow--main-header-mobile {
    display: none;
  }
}

@media (min-width: 1580px) {
  .flexRow--header-desktop-container {
    margin: 0 auto;
  }

  .flexRowContent--notification-bar-container .stretchChildrenWidth:first-child {
    width: fit-content !important;
    padding: 0px calc(50% - 730px);
  }
}

.flexRowContent--footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e8e8e8;
  height: 50px;
}

.flexRowContent--footer-menu-container .stretchChildrenWidth {
  height: 100%;
}

.flexRowContent--menuMain-Submenu-Box-Items {
  display: flex;
  flex-direction: column;
}

.flexRowContent--menuMain-Submenu-Box-Items .stretchChildrenWidth {
  justify-content: flex-start;
}

.flexRowContent--top-bar {
  height: 2rem;
  background-color: #632a6f;
}

.flexRowContent--top-bar .stretchChildrenWidth {
  background-color: #632a6f !important;
  height: 100%;
}
