/* HEADER */
/* search bar */
.trigger--searchBarMobileTrigger {
	padding: 0;
	margin: 0;
	outline: none;
	border: 0;
	border-radius: 0;
	background: transparent none;
}

.trigger--searchBarMobileTrigger--hidden {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
}

.trigger--searchBarMobileTrigger--hidden::before {
	content: "";
	display: inline-block;
	width: 1.7rem;
	height: 1.7rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top left;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.812' height='26.853' viewBox='0 0 26.812 26.853'%3E%3Cg id='Sapatos_Femininos_Bolsas_e_Acessórios___Corello-2' data-name='Sapatos Femininos, Bolsas e Acessórios _ Corello-2' transform='translate(0.5 0.5)'%3E%3Ccircle id='Elipse_58' data-name='Elipse 58' cx='9.777' cy='9.777' r='9.777' transform='translate(0 0)' fill='none' stroke='%23000' stroke-miterlimit='10' stroke-width='1'/%3E%3Cline id='Linha_13' data-name='Linha 13' x2='9.578' y2='9.601' transform='translate(16.38 16.399)' fill='none' stroke='%23000' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.trigger--searchBarMobileTrigger--visible::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='41' viewBox='0 0 41 41'%3E%3Cg id='cancel_1_' data-name='cancel (1)' transform='translate(0 0)'%3E%3Cg id='Grupo_164' data-name='Grupo 164' transform='translate(0 0)'%3E%3Cpath id='Caminho_41' data-name='Caminho 41' d='M21.439,20.5,40.806,1.128a.661.661,0,0,0-.935-.935L20.5,19.561,1.136.193A.661.661,0,0,0,.2,1.128L19.569,20.5.2,39.863a.661.661,0,1,0,.919.951l.016-.016L20.5,21.43,39.871,40.8a.661.661,0,0,0,.935-.935Z' transform='translate(0 0)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
	position: absolute;
	top: 24px;
	right: 16px;
	z-index: 2;
}

.content--searchBarMobileContent--visible {
	position: fixed;
	top: 0;
	left: 0%;
	background-color: #fff;
	z-index: 1;
	height: 100vh;
	width: 100%;
}
