.caretIcon--top-bar-slider {
    width: 25px;
    border: none !important;
}

.sliderArrows--top-bar-slider {
    margin: 0;
}

.sliderLayoutContainer--top-bar-slider {
    display: flex;
    align-items: center;
}
.sliderLayoutContainer--departaments-brands{
    min-height: 75px;
    padding: 0 30px;
}
.imageElement--departaments-brands{
    margin: 0 10px;
}
.sliderArrows--departaments-brands{
    transform: scale(0.75);
}
.sliderLeftArrow--departaments-brands{
    left: -11px;
}
.sliderRightArrow--departaments-brands{
    right: -11px;
}