.menuIcon--menuMainMobile {
  height: 1.5rem;
  width: 1.5rem;
  color: #DE0065;
}
.menuContainerNav-menuMainMobile-overflow{
  height: 100%;
  overflow-y: auto;
}

.opened--menuMainMobile {
  max-width: none !important;
  width: 100% !important;
}

.drawerHeader--menuMainMobile-header {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #632A6F;
}

.drawerHeader--menuMainMobile-header :global(.vtex-mega-menu-2-x-goBackContainer) {
  position: absolute;

  bottom: -2.25rem;
  right: 4rem;

  transform: translateY(50%);
}

.drawerHeader--menuMainMobile-header :global(.vtex-mega-menu-2-x-goBackContainer) :global(.vtex-mega-menu-2-x-goBackButton):hover {
  cursor: pointer;
}

.drawerHeader--menuMainMobile-header :global(.vtex-mega-menu-2-x-goBackContainer) :global(.vtex-mega-menu-2-x-caretIcon) {
  color: #fff;
}

.drawerHeader--menuMainMobile-header :global(.vtex-mega-menu-2-x-goBackButtonText) {
  display: none;
}

.childrenContainer--menuMainMobile :global(.vtex-mega-menu-2-x-submenuContainerVertical) {
  background-color: transparent;
}

.childrenContainer--menuMainMobile :global(.vtex-mega-menu-2-x-submenuContainerVertical) :global(.vtex-mega-menu-2-x-submenuListVertical) {
  max-height: calc(100vh - 16rem);
  overflow-y: auto;
}

.childrenContainer--menuMainMobile :global(.vtex-mega-menu-2-x-menuContainerVertical) {
  margin-top: 0;
}

.childrenContainer--menuMainMobile :global(.vtex-mega-menu-2-x-accordionIconContainer) {
  color: #632A6F;
}

.childrenContainer--menuMainMobile :global(.vtex-mega-menu-2-x-menuItemVertical ) :global(.vtex-mega-menu-2-x-styledLinkText) {
  font-weight: 400;
  color: #626262;
}

.childrenContainer--menuMainMobile :global(.vtex-mega-menu-2-x-submenuItemVertical ) :global(.vtex-mega-menu-2-x-collapsibleHeaderText) {
  font-weight: 400;
  color: #626262;
}

.childrenContainer--menuMainMobile :global(.vtex-mega-menu-2-x-submenuItemVertical ) :global(.vtex__icon-caret-down),
  .childrenContainer--menuMainMobile :global(.vtex-mega-menu-2-x-submenuItemVertical ) :global(.vtex__icon-caret-up) {
  /* display: none; */
}