.flexRow--drawer-header-beautyImg {
  height: 4.5rem;
  width: 100%;
  padding-left: 2rem;
  background-color: #DE0065;
}

.flexRowContent--drawer-header-beautyImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.flexRowContent--drawer-header-beautyImg .stretchChildrenWidth {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content !important;
}

.flexRowContent--drawer-header-beautyImg :global(.vtex-store-drawer-0-x-closeIconButton) {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 5.5rem;
  padding: 0;
  background-color: #632A6F;
}

.flexRowContent--drawer-header-beautyImg :global(.vtex-store-drawer-0-x-closeIcon) {
  height: 1.375rem;
  width: 1.375rem;
  color: #fff;
}