<div class="mt4 mb3 w4 center">
  <a href="http://{{_accountInfo.HostName}}.com.br">
    <img alt="" border="0" width="auto" alt="{{_accountInfo.TradingName}}" src="https://tdc0tj.vteximg.com.br/arquivos/logotransacional.png" style="max-height: 80px">
  </a>
</div>
