.backdrop--pre-release {
  opacity: 0.42;
  background-color: #000;
}

.paper--pre-release {
    padding: 28px;
    border-radius: 8px;
    max-width: 450px;
}

.headerContainer--pre-release-modal__header {
  height: 0;
  border: 0;
}

.closeButtonContainer--pre-release-modal__header {
  top: 8px;
  right: 8px;
  position: absolute;
}

.closeButton--pre-release-modal__header {
  padding: 0;
}

.closeIcon--pre-release-modal__header {
  width: 18px;
  height: 18px;
}

.paper--pre-release :global(.vtex-store-components-3-x-logoImage) {
  width: 130px;
}

.paper--pre-release :global(.vtex-store-footer-2-x-socialNetworkWrapper) {
  display: flex;
  margin-top: 8px;
  justify-content: center;
}
