.wrapper--pre-release-modal__title {

}

.wrapper--pre-release-modal__title .heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.container--pre-release-modal__text {
    justify-content: center;
}

.wrapper--pre-release-modal__text {
    max-width: 300px;
  }

  .wrapper--pre-release-modal__text .paragraph {
    font-size: 1rem;
    line-height: 1.2;
}

.wrapper--pre-release-modal__text .paragraph {
    margin-top: 0;
    margin-bottom: 1rem;
}

.wrapper--pre-release-modal__text .link {
    color: #E2116D;
    font-weight: 700;
}
