/* MY ACCOUNT */

/* wishlist */
.flexRowContent--wishlistContentConatiner
  :global(.vtex-product-summary-2-x-priceContainer) {
  align-items: flex-start;
}

.flexRowContent--wishlistContentConatiner :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  display: flex;
  justify-content: flex-end;
}

.flexCol--titleWishlist {
  padding: 1rem;
}
