/* MY ACCOUNT */
/* wishlist */

.list--wishlistContent {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  justify-content: center;
}

.item--wishlistContent {
  margin: 0.5rem 1rem;
}

@media (min-width: 1025px) {
  .list--wishlistContent {
    padding-left: 2.5rem;
    justify-content: flex-start;
  }
}
