/* CATEGORIES */
.container--breadcrumbSearch{
    padding-left: .5rem;
    display: flex;
    align-items: center;
}

.homeLink--breadcrumbSearch{
    margin-right: .5rem;
}

.homeLink--breadcrumbSearch::after{
    content: "Home /";
}

/* .homeLink--breadcrumbSearch{
    display: none;
} */

.link--breadcrumbSearch{
    padding: 0;
    font-size: 0.688rem;
    color: #808080;
}

.arrow--breadcrumbSearch,
.term--breadcrumbSearch{
    padding: 0;
    margin-right: .5rem;
    font-size: 0.688rem;
    color: #808080;
}

.arrow--breadcrumbSearch::after{
    content: "/";
    margin-left: .25rem;
}

.termArrow--breadcrumbSearch{
    display: none;
}

/* MEDIAS QUERIES */
@media (min-width: 1025px) {
    .arrow--breadcrumbSearch,
    .link--breadcrumbSearch,
    .term--breadcrumbSearch{
        font-size: 0.875rem;
    }
}