.buyTogetherTitleContainer{
  font-family: Omnes;
}

.buyTogetherTitle{
  font-size: 1.625rem;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 2.13rem;
  letter-spacing: .3rem;
}

.totalText{
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.28rem;
}

.totalListValue{
  color: #a8a8a8;
}

.totalValue{
  font-size: 1.375rem ;
  margin-bottom: 1.8rem;
}

@media (min-width: 1026px){
  .buyTogetherTitleContainer{
    text-align: left;
  }

  .buyTogetherTitle{
    font-size: 1.875rem;
  }

  .totalText{
    margin-top: 2.7rem;
  }
}
