/* PRODUCT PAGE */
.container--breadcrumbProductPage{
    padding: .5rem;
}

.homeLink--breadcrumbProductPage{
    display: none;
}

.arrow--breadcrumbProductPage,
.link--breadcrumbProductPage,
.term--breadcrumbProductPage{
    padding: 0;
    margin-right: .5rem;
    font-size: 0.688rem;
    color: #808080;
}

/* .term--breadcrumbProductPage{
    color: #808080
} */


.arrow--breadcrumbProductPage::after{
    content: "/";
    margin-left: .25rem;
}

.termArrow--breadcrumbProductPage{
    display: none;
}

/* MEDIAS QUERIES */
@media (min-width: 1025px) { 
    .container--breadcrumbProductPage{
        padding-left: 1rem;
    }

    .arrow--breadcrumbProductPage,
    .link--breadcrumbProductPage,
    .term--breadcrumbProductPage{
        font-size: 0.875rem;
    }
}