/* PRODUCT PAGE */
/* nome */

/* referência */
.product-identifier--productReference {
  font-size: 0.688rem;
  line-height: 0.78rem;
  color: #868686;
}
/* preço */
.sellingPriceValue--sellingPriceValue {
  font-size: 1.688rem;
  line-height: 1.716rem;
  color: #262626;
  font-weight: 500;
}
/* parcelas */
.installments{
  margin-bottom: 0;
}

.installments--installmentValue {
  display: block;
  font-size: 0.875rem;
  line-height: 1.1rem;
  color: #959595;
  padding-bottom: 0.5rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px dashed #eaeaea;
}

/* MEDIAS QUERIES */
@media (min-width: 1025px) {
  .product-identifier--productReference {
    font-size: 0.875rem;
    line-height: 1.1rem;
  }
  .sellingPriceValue--sellingPriceValue {
    font-size: 1.5rem;
  }
}
