/* PRODUCT PAGE */
.quantitySelectorContainer{
    margin-top: .5rem;    
}

.quantitySelectorTitle{
    font-size: .813rem;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button){
    height: 2.5rem;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__input){
    height: 2.5rem;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button){
    height: 2.5rem;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
