/* PRODUCT PAGE */

/* imagens */
.productImagesThumb--productImages {
  max-width: 5.5rem;
}
/* nome */
.productNameContainer{
  font-size: 1.25rem;
  line-height: 1.7rem;
  font-weight: 400;
}

/* frete */
.shippingNoMessage{
  padding: .5rem;
}

.shippingTableCellDeliveryEstimate ::after{
  /* display: inline-block; */
  content: "*Frete unitário";
}

/* share */
.shareSocialIcon{
  margin-right: .5rem;
}

.shippingContainer :global(.vtex-button) ::after{
  content: "* frete unitário";
  display: block;
  text-transform: capitalize;
  color: #979899;
  position: absolute;
  top: 3rem;
  left: 0;
  font-size: .875rem;
  font-weight: 400;
}

/* descrição do produto */
.productDescriptionTitle--contentTex{
  font-size: 1.5rem;  
  text-transform: uppercase;
  margin-bottom: 2.438rem;
  line-height: 1.875rem;
  display: none;
}

.productDescriptionText--contentTex{
  padding: 1.125rem 1rem;
  font-size: .875rem;
  line-height: 1.45rem;
}

@media (min-width: 1025px){
  .productNameContainer{
    font-size: 1.625rem;
    line-height: 1.89rem;
  }
  .productDescriptionTitle--contentTex{
    display: initial;
  }

  .productDescriptionText--contentTex{
    padding: 1.125rem 0rem;    
  }
}
