/* PRODUCT PAGE */

/* descrição e especificação do produto*/
.trigger--descriptionTitle {
    position: relative;
    width: 100%;
    padding: 0 1rem;
    background-color: transparent;
    border: none;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    color: #1c1c1c;
}

.trigger--especificationTitle {
    position: relative;
    width: 100%;
    padding: 1rem;
    text-align: start;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ececec;
}

.trigger--descriptionTitle:focus,
.trigger--especificationTitle:focus {    
    outline: none;
}

.trigger--descriptionTitle :global(.vtex-store-icons-0-x-caretIcon),
.trigger--especificationTitle :global(.vtex-store-icons-0-x-caretIcon) {
    position:absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.trigger--descriptionTitle--visible,
.trigger--especificationTitle--visible {
    border-bottom: none;
}