/* PRODUCT PAGE */

/* sku similar */
.relatedProducts--shelfSimilar { 
  margin-bottom: 10px;
}

.relatedProducts--shelfSimilar :global(.vtex-slider-0-x-dotsContainer) {
  display: none !important;
  visibility: hidden !important;
  opacity: 0;
}

.relatedProducts--shelfSimilar :global(.vtex-slider-0-x-sliderFrame) {
  justify-content: flex-start;
}


.title--shelfSimilar {
  justify-content: flex-start;
  font-size: 0.875rem;
  font-weight: normal;
  color: #2d2d2d;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* .arrowLeft--shelfSimilar,
.arrowRight--shelfSimilar {
    outline: none;
} */

/* 
.arrowLeft--shelfSimilar::before,
.arrowRight--shelfSimilar::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.arrowLeft--shelfSimilar::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.982' height='9.543' viewBox='0 0 4.982 9.543'%3E%3Cg id='Grupo_242' data-name='Grupo 242' transform='translate(358.951 1444.543) rotate(180)'%3E%3Cg id='down-arrow' transform='translate(236.698 1444.543) rotate(-90)'%3E%3Cpath id='Caminho_39' data-name='Caminho 39' d='M9.207,117.335,4.79,121.753.373,117.335a.207.207,0,0,0-.293.293l4.564,4.564a.207.207,0,0,0,.293,0L9.5,117.629a.207.207,0,0,0-.288-.3l-.005.005Z' transform='translate(-0.021)' fill='%238a8a8a'/%3E%3Cpath id='Caminho_40' data-name='Caminho 40' d='M4.769,122.255a.207.207,0,0,1-.147-.061L.058,117.63a.207.207,0,0,1,.293-.293l4.418,4.417,4.417-4.418a.207.207,0,1,1,.3.288l-.005.005-4.564,4.564A.208.208,0,0,1,4.769,122.255Z' transform='translate(0 -0.001)' fill='%238a8a8a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.arrowRight--shelfSimilar::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.982' height='9.543' viewBox='0 0 4.982 9.543'%3E%3Cg id='Grupo_241' data-name='Grupo 241' transform='translate(-353.97 -1435)'%3E%3Cg id='down-arrow' transform='translate(236.698 1444.543) rotate(-90)'%3E%3Cpath id='Caminho_39' data-name='Caminho 39' d='M9.207,117.335,4.79,121.753.373,117.335a.207.207,0,0,0-.293.293l4.564,4.564a.207.207,0,0,0,.293,0L9.5,117.629a.207.207,0,0,0-.288-.3l-.005.005Z' transform='translate(-0.021)' fill='%238a8a8a'/%3E%3Cpath id='Caminho_40' data-name='Caminho 40' d='M4.769,122.255a.207.207,0,0,1-.147-.061L.058,117.63a.207.207,0,0,1,.293-.293l4.418,4.417,4.417-4.418a.207.207,0,1,1,.3.288l-.005.005-4.564,4.564A.208.208,0,0,1,4.769,122.255Z' transform='translate(0 -0.001)' fill='%238a8a8a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.caretIcon--shelfSimilar {
    display: none !important;
} */

/* quem viu, viu também */
.title--shelfRelatedContainer {
  font-size: 1.625rem;
  line-height: 2rem;
  font-weight: 400;
  padding-top: 0;
}

.sliderContainer--shelfRelatedContainer :global(.vtex-shelf-1-x-dot) {
  height: 0.94rem;
  width: 0.94rem;
  background-color: transparent;
  border: 1px solid #2f2f2f;
}

.slide--shelfRelatedContainer {
  transition: ease-in-out 0.3s;
}

.slide--shelfRelatedContainer:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.07);
}

.dotsContainer {
  width: fit-content;
}

.dot--isActive {
  background-color: #2f2f2f !important;
}

.arrowRight--shelfRelatedContainer,
.arrowLeft--shelfRelatedContainer {
  top: 25%;
  width: 1.94rem;
  height: 1.94rem;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  border: 0.5px solid #d1d1d1;
  border-radius: 3px;
  background: #fcfcfc;
}

.caretIcon--shelfRelatedContainer {
  color: #ababab;
}

/* MEDIAS QUERIES */
@media (min-width: 1025px) {
  .title--shelfSimilar {
    font-size: 16px;
    margin-bottom: 14px;
  }
 
  .shelfContentContainer--shelfRelatedContainer {
    padding: 0.5rem;
  }

  .sliderContainer--shelfRelatedContainer {
    padding: 3rem;
  }

  .slide--shelfRelatedContainer {
    padding: 1rem;
  }

  .title--shelfRelatedContainer {
    justify-content: flex-start;
    padding-left: 1rem;
    padding-top: 2rem;
    font-size: 1.875rem;
    line-height: 2.35rem;
  }

  .arrowRight--shelfRelatedContainer,
  .arrowLeft--shelfRelatedContainer {
    top: 40%;
  }
}
