.element {
    position: relative;
}

.container--shelfSimilar {
    max-width: 44px !important;
    max-height: 44px !important;
    width: 100%;
}
.element--shelfSimilar {
    padding: 0;
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border: 1px solid #D4D4D4;
    border-radius: 50%;
    overflow: hidden;

}
.imageContainer--shelfSimilar{
     display: flex;
     justify-content: center;
     align-items: center;
}

.image--shelfSimilar {
    max-width: 90%;
}

.clearLink--shelfSimilar{
    border-radius: 50%;
}