/* PRODUCT PAGE */

.flexRowContent--productMainContainer {
  padding: 0 0.5rem;
}

/* imagens */
.flexRowContent--imagesContainerDesktop {
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}

.flexRowContent--imagesContainerDesktop .stretchChildrenWidth{
  width: 100% !important;
}

/* botão wishlist */
.flexRowContent--imagesContainerDesktop
  :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  position: absolute;
  right: 1rem;
  border-radius: 50%;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* compre junto */
.flexRowContent--buyTogetherContainer  {
  padding: 0 1rem;
}

.flexRowContent--buyTogetherContainer :global(.vtex-product-summary-2-x-nameContainer) {
  white-space: initial;
  text-overflow: ellipsis;
}

.flexRowContent--shelfBuyTogetherMobile{
  display: flex;
}

.flexCol--shelfBuyTogetherMobileImage{
  position: relative;
  justify-content: center;
}

/* frete */
.flexRowContent--shippingContainer :global(.vtex__icon-external-link) {
  display: none;
}

.flexRowContent--shippingContainer :global(.vtex-button) {
  margin-top: 0.6rem;
  margin-bottom: 1rem;
  height: 2.813rem;
}

.flexRowContent--shippingContainer .stretchChildrenWidth {
  flex-wrap: wrap;
}

/* descrição e especificação  do produto */
.flexRowContent--productSpecificationGroup,
.flexRowContent--descriptionContainerDesktop {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1.5rem;
  margin: 0;
}

.flexRow--productSpecificationGroupName {
  background-color: transparent;
  padding: 1rem 0;
}

.flexRow--especificationTitleContainer
  :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRowContent--especificationTitleContainer
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  padding: 0;
  justify-content: flex-start;
  font-size: 0.95rem;
}

.flexRowContent--productSpecificationGroupName
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  justify-content: flex-start;
  /* font-size: 1.5rem; */
}

.flexCol--productSpecificationName {
  padding: 1rem;
}

.flexCol--productSpecificationValue {
  padding: 1rem 1rem 1rem 0;
}

.flexRow--productSpecification:nth-child(even) {
  background-color: #f9f9f9;
}

.flexRow--productSpecificationGroup:not(:first-child) {
  margin-top: 0;
}

/* reviews */
.flexRow :global(.vtex-store-components-3-x-container) {
  padding: 0rem;
}

.flexRowContent--productReviewsContainer
  :global(.vtex-reviews-and-ratings-2-x-container) {
  padding: 0rem;
  max-width: 100%;
}

.flexRowContent--productReviewsContainer
  :global(.vtex-reviews-and-ratings-2-x-reviewsHeading) {
  margin-bottom: 0.2rem;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
}

.flexRowContent--productReviewsContainer
  :global(.vtex-reviews-and-ratings-2-x-loginLink) {
  color: #1c7bbc;
  padding: 0;
}

.flexRowContent--productReviewsContainer
  :global(.vtex-reviews-and-ratings-2-x-starsContainer) {
  margin-bottom: 1rem;
}

.flexRowContent--productReviewsContainer :global(.vtex-reviews-and-ratings-2-x-star--filled),
.flexRowContent--productReviewsContainer :global(.vtex-reviews-and-ratings-2-x-star--empty),
.flexRowContent--productMainContainer :global(.vtex-reviews-and-ratings-2-x-star--filled),
.flexRowContent--productMainContainer :global(.vtex-reviews-and-ratings-2-x-star--empty) {
  color: #ffb100;
}

.flexRowContent--productMainContainer :global(.vtex-add-to-cart-button-0-x-buttonText) {
  font-size: 0;
  display: flex;
  align-items: center;
  gap: 3px;
}

.flexRowContent--productMainContainer :global(.vtex-add-to-cart-button-0-x-buttonText)::before {
  content: "Adicionar";
  font-size: 14px;
}
.flexRowContent--productMainContainer :global(.vtex-add-to-cart-button-0-x-buttonText)::after {
  content: " ";
  display: inline-block;
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="%23FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.37-.66-.11-1.48-.87-1.48H5.21l-.94-2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/></svg>');
}

.flexRowContent--shelfRelatedContainer :global(.vtex-add-to-cart-button-0-x-buttonText) {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.flexRowContent--shelfRelatedContainer :global(.vtex-add-to-cart-button-0-x-buttonText)::after {
  content: " ";
  display: inline-block;
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="%23FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.37-.66-.11-1.48-.87-1.48H5.21l-.94-2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/></svg>');
}

.flexRowContent--productReviewsContainer
  :global(.vtex-reviews-and-ratings-2-x-writeReviewContainer) {
  margin-top: 2rem;
  padding-left: 1rem;
}

.flexRowContent--productReviewsContainer
  :global(.vtex-reviews-and-ratings-2-x-reviewCommentsContainer) {
  padding-left: 1rem;
}

.flexRowContent--productReviewsContainer
  :global(.vtex-reviews-and-ratings-2-x-reviewsRating),
.flexRowContent--productReviewsContainer
  :global(.vtex-styleguide-9-x-dropdown) {
  padding-left: 1rem;
}

.flexRowContent--productReviewsContainer
  :global(.vtex-reviews-and-ratings-2-x-reviewCommentUser) {
  font-weight: 500;
  padding-left: 0.9rem;
}

.flexRowContent--productReviewsContainer
  :global(.vtex-reviews-and-ratings-2-x-reviewComment) {
  border-top: 1px solid #f3f3f3;
  padding: 0.5rem 0;
}

/* similares */
.flexRowContent--shelfSimilarContainer{
  flex-direction: column;
}

.flexRowContent--shelfSimilarContainer .stretchChildrenWidth{
  width: 100% !important;
}

/* MEDIAS QUERIES */
@media (min-width: 1025px) {
  .flexRowContent--descriptionContainerDesktop {
    padding-left: 1rem;
  }

  .flexRowContent--productSpecificationGroupName {
    padding-left: 1rem;
    font-size: 1.5rem;
  }

  .flexRowContent--productReviewsContainer
    :global(.vtex-reviews-and-ratings-2-x-reviewsHeading) {
    font-size: 1.5rem;
  }

  .flexRowContent--shelfRelatedContainer {
    margin-bottom: 10.6rem;
  }
}
