@font-face {
  font-family: "Omnes";
  src: url("assets/fonts/Omnes_Light.ttf") format("truetype") ;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Omnes";
  src: url("assets/fonts/Omnes_Regular.ttf") format("truetype") ;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Omnes";
  src: url("assets/fonts/Omnes_Medium.ttf") format("truetype") ;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Omnes";
  src: url("assets/fonts/Omnes_SemiBold.ttf") format("truetype") ;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Omnes";
  src: url("assets/fonts/Omnes_Bold.ttf") format("truetype") ;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Omnes";
  src: url("assets/fonts/Omnes_Black.ttf") format("truetype") ;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo";
  src: url("assets/fonts/Museo-300.ttf") format("truetype") ;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


