<footer class="_footer">
  <section class="_footer-section-info">
    <div class="_container">
      <div class="_footer_row">
        <ul class="_footer-payment">
          <h3><%- textvars.payment %></h3>
          <% paymentIcons.forEach(function(data){ %> <% if (data.active !== false) { %>
          <li><a title="<%= data.name %>" class="_db"><%- data.image %></a></li>
          <% } %> <% }) %>
        </ul>
        <ul class="_footer-partner">
          <h3><%- textvars.tecnology %></h3>
          <li>
             <a href="https://www.codeby.com.br/" target="_blank" alt="Codeby">
              <%- assetsvars.logo_codeby %>
             </a>
          </li>
          <li>
              <%- assetsvars.logo_vtex %>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="_footer-section-copy">
    <div class="_container">
      <div class="_footer_row">
        <p class="_footer-copy">
          <%- textvars.copyright %>
        </p>
      </div>
    </div>
  </section>
</footer>