<header class="_header">
  <div class="_container">
    <div class="_w-100 _flex _justify-between _align-center">
      <!-- <div class="_header-back" id="backBtn">
        <%- assetsvars.icon_back %>
      </div> -->
      <figure class="_header-logo">
        <a href="/" title="<%= store_logo_title %>" class="_db"><%- assetsvars.logo %></a>
      </figure>
      <div class="_header-secure">
        <%- assetsvars.icon_lock %>
        <p>
          <%- textvars.secure1 %>
          <strong class="_db"><%- textvars.secure2 %></strong>
        </p>
      </div>
    </div>
  </div>
</header>
<section class="_freight-bar">
  <div class="_container">
    <div class="_w-100 _flex _justify-between _align-center">
      <div class="_cby-freightBar _loading">
        <div class="_cby-freightBar-header">
          <div class="_cby-freightBar-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 31 31"><defs/><g fill="#0E0E0E" clip-path="url(#clip0)"><path d="M1.2 6.8L15.3 0h.4l14 6.8c.2.1.3.3.3.4v16.6c0 .1 0 .3-.2.4L15.7 31a.5.5 0 01-.4 0l-14-6.8a.5.5 0 01-.3-.4V7.2c0-.1 0-.3.2-.4zM15.5 1l-13 6.2 3.7 1.9h.1l13-6.3L15.5 1zm4.8 2.3l-13 6.3 2.6 1.3 13-6.3-2.6-1.3zM7 10.4v4.8l2.5 1.2v-4.8L7 10.4zm-5.1 13L15 29.9V14.3l-3-1.5a.5.5 0 01.3-.8l3.2 1.5 1.3-.6a.5.5 0 11.4.8l-1.2.6v15.5L29 23.5V8l-10 4.8a.5.5 0 01-.6-.2c-.1-.2 0-.5.2-.6l9.8-4.8L24 5.1l-13.6 6.6V17a.5.5 0 01-.7.4L6.3 16a.5.5 0 01-.2-.4V10L1.9 8v15.5z"/><path d="M25.4 21.7l2-1a.5.5 0 11.4.8l-2 1a.5.5 0 01-.6-.2c-.1-.2 0-.5.2-.6zM23.5 20.5l4-2a.5.5 0 01.3.9l-4 1.9a.5.5 0 01-.5-.2c-.1-.3 0-.5.2-.6z"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h31v31H0z" transform="matrix(-1 0 0 1 31 0)"/></clipPath></defs></svg>
          </div>
          <div class="_cby-freightBar-text"></div>
          <div class="_cby-freightBar-percent-wrapper">
            <div class="_cby-freightBar-percent"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>